<div class="container-fluid">
  <form action="outcomes" method="POST">
  <h2>Outcomes</h2>
  <hr class="my-4">
  <div class = "row">
  <div class = "col-lg-2"><a href="{{base_url}}create" class="btn btn-success" role="button">Create New</a></div>
  <div class = "col-lg-4"><select class="form-control" name = "prog_ID">
    <option value="{{current_progID}}">{{current_progName}}</option>
    {{#each resultsDD}}
    <option value="{{this.prog_ID}}">{{this.prog_name}}</option>
    {{/each}}
  </select>
  </div>
  <button class="btn btn-primary" role="button">Filter</button>
  </div>

  <div>
  <hr class="my-1">
  <div class="row">
    <div class="col"><strong>Name</strong></div>
    <div class="col"><strong>Study Program ID</strong></div>
    <div class="col"><strong>Description</strong></div>
    <!-- <div class="col"><strong>Department ID</strong></div> -->
    <div class="col"><strong>Date Created</strong></div>
    <div class="col"></div>
  </div>
  <hr class="my-1">
  {{#each results}}
    <div class="row">
      <div class="col">{{outc_name}}</div>
      <div class="col">{{prog_ID}}</div>
      <div class="col">{{outc_description}}</div>
      <!-- <div class="col">1</div> -->
      <div class="col">{{date_created}}</div>
      <div class="col">
        <a href="/outcomes/{{outc_ID}}/edit" type="button" class="btn btn-warning" style="color:#FFFFFF">Edit</a>
        <a href="/outcomes/{{outc_ID}}/delete" type="button" class="btn btn-danger">Delete</a>
      </div>
    </div>
  {{/each}}

  <hr class="my-1">
  <hr class="my-1">

  <hr class="mt-5 mb-3">
  <p>&copy; 2019 - Universidad Interamericana Puerto Rico Bayam&oacute;n Campus</p>
</div>
