<script>

    //RELOAD PAGE WHEN USER CLICK BACK BUTTON
window.addEventListener("pageshow", function (event) {
    var historyTraversal = event.persisted ||
        (typeof window.performance != "undefined" &&
            window.performance.navigation.type === 2);
    if (historyTraversal) {
        // Handle page restore.
        window.location.reload();
    }
});
</script>

<div class="container-fluid">
    <h2>{{subtitle}}</h2>
      <a href="/schoolTerm/create" class="btn inter-green inter-green-btn" role="button">Create New</a>
    <hr class="my-4">
  <!-- Table -->
  <div class="row p-2 bg-secondary text-light">
    {{!-- <form action="{{create}}" method="post"> --}}
    <div class="col-10"><strong>Term Name</strong></div>
    <div class="col"></div>
  </div>
  {{#each results}}
  <div class="row btn-light py-2">
    <div class="col-10">{{this.term_name}}</div>
    <div class="col dropdown">
      <button class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown"></button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/schoolTerm/{{this.term_ID}}/edit" type="submit" class="btn btn-dark" name="editButton">Edit</a>
        <a class="dropdown-item" href="/schoolTerm/{{this.term_ID}}/remove" type="submit" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>