<%- include ('../partials/header') -%>

<link rel="stylesheet" type="text/css" href="/stylesheets/courseMappingStyle.css">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%=homeURL%>">Home</a></li>
        <% for( let index = 0; index < breadcrumb.length; index++ ) { %>

        <% if (index == breadcrumb.length -1) { %>
        <li class="breadcrumb-item active" aria-current="page"><%= breadcrumb[index].name %></li>
        <% }else { %>
        <li class="breadcrumb-item">
            <a href="<%= breadcrumb[index].url %>">
                <%= breadcrumb[index].name %>
            </a>
        </li>
        <% } %>

        <% } %>
    </ol>
</nav>

<!-- FILTERING HEADER -->
<div class="container-fluid mt-2" style="border-bottom: 1px solid rgba(0,0,0,0.1);">
    <div class="row">

        <div class="col-12">

            <div class="d-flex flex-row bd-highlight">

                <div class="p-2 bd-highlight">
                    <h3>Mapping: </h3>
                </div>

                <div class="p-2 bd-highlight">

                    <div class="form-group">
                        <select class="form-control" id="departments" type="text">
                            <option selected disabled value=""> -- Department -- </option>
                            <% departments.forEach(dept => { %>
                            <option value="<%= dept["dep_ID"] %>"><%= dept["dep_name"] %></option>
                            <% }) %>
                        </select>

                        <input type="hidden" id="dept_selected" value="">
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="form-group">
                        <select id="study_program" disabled class="form-control" type="text" name="study_program">
                            <option selected disabled value="">
                                -- Study Program --
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tableDiv">

</div>

<!-- <div class="container-fluid my-2 " style="overflow-y: scroll;height: 400px;width: 100%;"> -->
<div class="container-fluid my-2 " style="font-size: 0.9em;">

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <!-- HEADER -->
        </thead>

        <tbody id="filter">

        </tbody>

    </table>
</div>

<div class="container">
    <div class="text-right">
        <button style="width: 20%;" id="clickme" class="btn btn-primary invisible">Submit</button>
    </div>
</div>

<%- include ('../partials/modal_success') -%>

<div class="container-fluid">
    <hr class="mt-5">
    <p>&copy; 2019 - Universidad Interamericana de Puerto Rico - Bayam&oacute;n Campus</p>
</div>

<!-- COURSE MAPPING LOGIG -->
<script src="/javascripts/courseMapping.js"></script>

<!-- LOADING JQUERY -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>