<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">

	<link rel="icon" href="/images/interLogo.png">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootsrapt CSS Link 4.3.1 -->
	<link rel="stylesheet" href="/stylesheets/externalLibraries/bootstrap.min.css">

	<!-- lOCALS StYLE -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

	<!-- Icons -->
	<script src="https://kit.fontawesome.com/6114d6256f.js" crossorigin="anonymous"></script>

	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<!-- SELECT PURE -->
	<script src="/javascripts/libraries/SelectPure.js"></script>
	<!-- JQUERY -->
	<script src="/javascripts/libraries/jquery-3.4.1.min.js"></script>

	<!-- MAKE AJAX GET REQUEST -->
	<script src="/javascripts/ajaxRequest.js"></script>

	<!-- HEADER BACKGROUND -->
	<style>
		.inter-green {
			background-color: #00833e !important;
			color: #FFF !important;
		}
	</style>

	<title><%= title %></title>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark shadow inter-green">

		<div class="navbar-header">
			<a class="navbar-brand" href="">ABET Assessment</a>
		</div>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

				<% if (hasAdminPrivilege) { %>
				<li class="nav-item active">
					<a class="nav-link" href="<%= admin_route %>">Admin<span class="sr-only">(current)</span></a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Sections
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">

						<% adminOptions.forEach(option => { %>
						<a class="dropdown-item" href="<%=option["url"]%>">
							<%=option["name"]%>
						</a>

						<div class="dropdown-divider"></div>
						<% }); %>
					</div>
				</li>
				<% } %>

				<li class="nav-item">
					<a class="nav-link" href="/professor">Professor</a>
				</li>
			</ul>
		</div>

		<ul class="nav navbar-nav navbar-right">

			<span class="nav-link disabled" style="color: white;"> 
				<%= userName%>: 
				<span style="font-style: italic; font-size: 0.9em;">
					<%=profileName%></span>
				</span>
			<span class="nav-link disabled">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>

			<a class="nav-link" href="<%= signOutUrl %>">Logout <i class="fa fa-sign-out"></i></a>
		</ul>
	</nav>

	<% if((error && error.length > 0) || (success && success.length > 0) ){ %>
	<div class="container feedback" style="z-index: 999;">
		<!--check if error and display a message-->
		<% if(error && error.length > 0 ){ %>
		<div class="alert alert-danger feedbackAlert" role="alert">
			<%= error %>
		</div>
		<% } %>
		<!--check if success and display a message-->
		<% if(success && success.length > 0 ){ %>
		<div class="alert alert-success feedbackAlert" role="alert">
			<%= success %>
		</div>
		<% } %>
	</div>
	<% } %>

	<div id='loader'>
		<img class="rounded mx-auto d-block" src='/images/loading.gif' style="border-radius: 5%;z-index: 999;"
			width='64px' height='64px'>
	</div>

	<script>
		setTimeout(function () {
			$(".feedbackAlert").hide();
			$(".feedback").toggle();
		}, 2000)
	</script>