<div class = "container">
  <h1>Edit</h1>
  <p>Course</p>
  <!-- Middle line -->
  <hr>
  <form action="edit?_method=PUT" method="post">
    <div class="form-group">
      <div class = "row">
          <div class = "col-lg-2"><strong>Number</strong></div>
          <div class = "col-lg-10"><input class="form-control" name="data[crnumber]" type="text" placeholder="Course Number" value="{{user_results.course_number}}" minlength = "4" maxlength = "4" required></div>
      </div>

      <div class = "row">
          <div class = "col-lg-2"><strong>Name</strong></div>
          <div class = "col-lg-10"><input class="form-control" name="data[crname]" type="text" placeholder="Course Name" value="{{user_results.course_name}}"></div>
      </div>
      <div class = "row">
          <div class = "col-lg-2"><strong>Description</strong></div>
          <div class = "col-lg-10"><input class="form-control" name="data[crdec]" type="text" placeholder="Course Description" value="{{user_results.course_description}}"></div>
      </div>
      <div class="row">
          <div class="col-lg-2"><strong>Study Program</strong></div>
          <select type="text" name="data[prog_id]" required>
              <option class="dropdown-item" selected="selected" value="{{current_progID}}">{{current_progName}}</option>
              {{#each std_results}}
              <option class="dropdown-item" value="{{prog_ID}}">{{prog_name}}</option>
              {{/each}}
          </select>
      </div>
      <div class = "row">
              <div class = "col-lg-2"></div>
              <div class = "col-lg-10"><button type="submit" class="btn btn-outline-secondary">Save</button></div>
      </div>
      <div class = "row">
              <div class = "col-lg-2 link"><a href="{{base_url}}">Back to List</a></div>
      </div>
    </form>
      <hr>
  <p>© 2019 - Universidad Interamericana Puerto Rico Bayamon Campus</p>
</div>
