<script>

    //RELOAD PAGE WHEN USER CLICK BACK BUTTON
window.addEventListener("pageshow", function (event) {
    var historyTraversal = event.persisted ||
        (typeof window.performance != "undefined" &&
            window.performance.navigation.type === 2);
    if (historyTraversal) {
        // Handle page restore.
        window.location.reload();
    }
});
</script>

<div class = "container">
  <h1>Courses</h1>
  <hr>
  <form action="/indexCourses" method="POST">
  <!-- Green Create New Button -->
  <a href="/courses/create" class="btn btn-success" role="button">Create New</a>
  <!-- Middle line -->
  <hr>
  <!-- First row that will contain the table header -->
  <div class = "row">
          <div class = "col-lg-4"><strong>Course Name</strong></div>
          <div class = "col-lg-2"><strong>Course Number</strong></div>
          <div class = "col-lg-2"><strong>Study Program ID</strong></div>
          <div class = "col-lg-2"><strong>Date Created</strong></div>
  </div>
  <!-- First row of info -->
  <hr>
  {{#each results}}
  <div class = "row">
          <div class = "col-lg-4">{{this.course_name}}</div>
          <div class = "col-lg-2">{{this.course_number}}</div>
          <div class = "col-lg-2">{{this.prog_ID}}</div>
          <div class = "col-lg-2">{{this.date_created}}</div>
          <div class = "col-lg-1"><a href="/courses/{{this.course_ID}}/edit" type="submit" class="btn btn-warning" style="color:#FFFFFF"
              name="editButton">Edit</a></div>
          <div class = "col-lg-1"><a href="/courses/{{this.course_ID}}/remove" type="submit" class="btn btn-danger">Delete</a>
</div>
  </div>
  {{/each}}
  </form>
  <hr>
</div>
