<%- include ('../partials/header', {signInUrl: signInUrl, singOutUrl: singOutUrl}) -%>
<script>

    //RELOAD PAGE WHEN USER CLICK BACK BUTTON
window.addEventListener("pageshow", function (event) {
    var historyTraversal = event.persisted ||
        (typeof window.performance != "undefined" &&
            window.performance.navigation.type === 2);
    if (historyTraversal) {
        // Handle page restore.
        window.location.reload();
    }
});
</script>

<div class = "container-fluid mt-2">
  <h1><%= subtitle %></h1>
  <hr class = "my-4">
  <form action="/indexCourses" method="POST">
  <a href="/courses/create" class="btn inter-green inter-green-btn" role="button">Create New</a>
  <!-- Middle line -->
</div>
<div class="container-fluid my-2">
  <!-- Table Header -->
  <div class ="row bg-secondary text-light p-2">
          <div class = "col-4"><strong>Course Name</strong></div>
          <div class = "col-2"><strong>Course Number</strong></div>
          <div class = "col-2"><strong>Study Program ID</strong></div>
          <div class = "col-2"><strong>Date Created</strong></div>
  </div>
  <!-- Table Contents -->
 <% for (var elem of results) {%>
  <div class = "row py-2 btn-light">
    <div class = "col-4"><%= elem.course_name %></div>
    <div class = "col-2"><%= elem.course_number %></div>
    <div class = "col-2"><%= elem.prog_ID %></div>
    <div class = "col-2"><%= elem.date_created %></div>
    <div class = "col dropdown">
      <button class="btn inter-green inter-green-btn dropdown-toggle" type="button" data-toggle="dropdown">
        Actions
      </button>
      <div class= "dropdown-menu">
        <a class="dropdown-item" href="/courses/<%= elem.course_ID %>/edit" type="submit" >Edit</a>
        <a class="dropdown-item" href="/courses/<%= elem.course_ID %>/remove" type="submit" >Delete</a>
      </div>
    </div>
  </div>
  <% } %>
  </form>
</div>

<%- include ('../partials/footer') -%>