<%- include ('../admin/partials/header') -%>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<!-- MODAL FOR BREADCRUMB -->
<%- include ('./breadcrumb', {homeURL, breadcrumb, progressBar, hasValue}) -%>

<input type="hidden" id="amountOfCol" name="amountOfCol" value="<%= colNums %> ">
<input type="hidden" id="perfCrit" name="perfCrit" value="<%= perfCrit %> ">
<input type="hidden" id="outcomeName" name="outcomeName" value="<%= outc_name %> ">
<input type="hidden" id="assessmentID" name="assessmentID" value="<%= id %>">
<input type="hidden" id="perfID" name="perfID" value="<%= perf_ID %>">
<input type="hidden" id="prevScores" name="prevScores" value="<%= prevScores %>">
<input type="hidden" id="hasValue" name="hasValue" value="<%= hasValue %>">
<input type="hidden" id="hasGraph" name="hasGraph" value="<%= hasGraph %>">
<div id="alertDiv"></div>
<div class="container-fluid outcomeInfo">
	<div class="row">
		<div class="col-5">
			<h4>Insert Criteria Values for each Student</h4>
		</div> 
		<div class="col-4">
			<div class="row rowInput" >
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="# of rows" id="numofRows">
					<div class="input-group-append">
						  <button class="btn btn-outline-secondary" type="button" id="addRow">Add</button>
					</div>
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" id="delRow">Remove</button>
					</div>
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" id="clearAll">Clear All</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3">
			<h2>Outcome Results</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-9 perfomanceTable">
			<table id="table" class="table">
				<thead>
					<tr id="header">
						<th scope="col" class="headerRow"><input type="checkbox" id="selectAll"/><label for="selectAll"></label> <span>Student</span></th>
					</tr>
				</thead>
				<tbody id="tableBody">
				</tbody>
			</table>		
		</div>	
		<div class="col-3 performanceResults">
			<table id="perfResultTable">
				<thead>
					<tr id="header2">
						<th scope="col" id="perfHeader" class="headerRow resultHeader">Perf. Crit.</th>
						<th scope="col" class="headerRow resultHeader">% Student with 3 or more in <%= outc_name %></th>
					</tr>
				</thead>
				<tbody id="outcomeResultTbody">

				</tbody>
			</table>
			<div id="saveOrNext">
				<a id="save" class="btn btn-outline-success" role="button" >Save</a>
				<a id="next" class="btn btn-outline-success" role="button" >Next</a>
			</div>
		</div>
	</div>
</div>

<div class="container graphcontainer">
	<input type="hidden" id="graph" name="graph" value="">
	<h2 style="text-align: center;">% Student with 3 or more in <%= outc_name %></h2>
	<canvas id="myChart" role="img"></canvas>
</div>


<!-- Stylesheet for Performance Table -->
<link rel="stylesheet" type="text/css" href="/stylesheets/performanceTableStyle.css">


<!-- jQuery script -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/performanceTable.js"></script>

<!-- STYLE FOR PROGRESS BAR -->
<link rel="stylesheet" href="/stylesheets/progress_bar.css">

<%- include ('../admin/partials/footer') -%>