<%- include ('../admin/partials/header') -%>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="<%=homeURL%>">Home</a></li>
		<% for( let index = 0; index < breadcrumb.length; index++ ) { %>

		<% if (index == breadcrumb.length -1) { %>
		<li class="breadcrumb-item active" aria-current="page"><%= breadcrumb[index].name %></li>
		<% }else { %>
		<li class="breadcrumb-item">
			<a href="<%= breadcrumb[index].url %>">
				<%= breadcrumb[index].name %>
			</a>
		</li>
		<% } %>

		<% } %>
	</ol>
</nav>


<input type="hidden" id="amountOfCol" name="amountOfCol" value="<%= colNums %> ">
<input type="hidden" id="perfCrit" name="perfCrit" value="<%= perfCrit %> ">
<input type="hidden" id="outcomeName" name="outcomeName" value="<%= outc_name %> ">

<div class="container-fluid" style="margin-top: 10px; margin-bottom: 100px;">
	<div class="row" style="padding: 2%;">

		<div class="col-6" style="height: 450px;">
			<h4 style="text-align: center;">Insert Criteria Values for each Student</h4>
			<div class="perfomanceTable">
				<form id="performanceTable" action="/assessment/perfomanceTable" method="POST">
					<table id="table" class="table">
						<thead>
							<tr id="header">
								<th scope="col">Student</th>
							</tr>
						</thead>
						<tbody id="tableBody">
						</tbody>
					</table>

					<input type="hidden" id="graph" name="graph" value="">
				</form>
			</div>
			<div>

				<div style="float: left; width: 80%;">
					<input type="button" class="btn btn-outline-secondary" id="addRow" value="Add Row">
					<input type="button" class="btn btn-outline-secondary" id="delRow" value="Delete Row">
				</div>

				<!-- <input style="width: 15%;" type="submit" class="btn inter-green inter-green-btn" id="delRow" value="Next"> -->
				<a style="width: 15%;margin-top: 5px;" class="btn inter-green inter-green-btn" id="delRow"
					href="<%=base_url%>/">Next</a>
			</div>
		</div>
		<div class="col-6 barChart">
			<h3>% Student with 3 or more in <%= outc_name %></h3>
			<canvas id="myChart" width="350" height="200" role="img"></canvas>
		</div>
	</div>
</div>

<!-- jQuery script -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/performanceTable.js"></script>


<%- include ('../admin/partials/footer') -%>