<%- include ('../admin/partials/header') -%>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<!-- MODAL FOR BREADCRUMB -->
<%- include ('./breadcrumb', {homeURL, breadcrumb, progressBar, hasValue}) -%>

<input type="hidden" id="amountOfCol" name="amountOfCol" value="<%= colNums %> ">
<input type="hidden" id="perfCrit" name="perfCrit" value="<%= perfCrit %> ">
<input type="hidden" id="outcomeName" name="outcomeName" value="<%= outc_name %> ">
<input type="hidden" id="assessmentID" name="assessmentID" value="<%= id %>">
<input type="hidden" id="perfID" name="perfID" value="<%= perf_ID %>">
<input type="hidden" id="prevScores" name="prevScores" value="<%= prevScores %>">
<input type="hidden" id="hasValue" name="hasValue" value="<%= hasValue %>">

<div class="container-fluid" id="source-html" style="margin-top: 10px; margin-bottom: 100px;">
	<div id="mainRow" class="row" style="padding: 2%;">
		<div class="col-9" style="height: 450px;">
			<div class="row"> 
				<h4>Insert Criteria Values for each Student</h4>
				<input type="number" value="0" min="0" max="50" step="1" id="spinner">
				<input type="button" class="btn btn-outline-secondary" id="addRow" value="Add Row">
				<input type="button" class="btn btn-outline-secondary" id="delRow" value="Delete Row">
			</div>
			<div class="perfomanceTable">
				<table id="table" class="table">
					<thead>
						<tr id="header">
							<th scope="col" class='headerRow'>Student</th>
						</tr>
					</thead>
					<tbody id="tableBody">
					</tbody>
				</table>

				<input type="hidden" id="graph" name="graph" value="">
			</div>			
		</div>
		<div class="col-3">
			<div class="container">
				<h2>Outcome Results</h2>
				<div id="performanceResults">
				</div>
			</div>
			<div class="row" id="saveOrNext">
				<a id="save" class="btn btn-primary" href="" role="button">Save</a>
				<a id="save" class="btn btn-primary" href="<%=base_url%>/assessment/<%=id%>/professorInput" role="button">Next</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="col-6 barChart">
		<h3>% Student with 3 or more in <%= outc_name %></h3>
		<canvas id="myChart" width="350" height="200" role="img"></canvas>
	</div>
</div>


<!-- jQuery script -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/extra/input-spinner.js"></script>
<script type="text/javascript" src="/javascripts/performanceTable.js"></script>

<link rel="stylesheet" href="/stylesheets/progress_bar.css">

<%- include ('../admin/partials/footer') -%>