<%- include ('../admin/partials/header', {signInUrl: signInUrl, signOutUrl: signOutUrl}) -%>

<%- include ('./breadcrumb', {homeURL, breadcrumb, progressBar, hasValue: have_data}) -%>


<div class="container professor-container">
    <div class="row">
        <form id="course_evaluation" class="professorInput" action="<%=form_action%>" method="POST">
            <input type="hidden" name="have_data" value="<%=have_data%>">

            <div class="container mb-4">
                <h3 class="mb-4">Grade Distribution</h3>
            </div>

            <table class="table table-sm">
                <!--Grade Scale-->
                <thead class=>
                    <tr>
                        <% grades.forEach(element => { %>
                        <th><%= element["name"] %> </th>
                        <% }) %>
                        <th><strong> Total</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <% grades.forEach(element => { %>
                        <td>
                            <input class="inputs gradeInputs" type="text" name="<%= element["name"]%>" id="<%= element["name"]%>"
                                value="<%= element["value"] %>" placeholder="Insert">
                        </td>
                        <% }) %>

                        <td>
                            <div class="">
                                <input style="text-align: center;" type="number" id="total" value="<%=total_value%>"
                                    name="total" placeholder="0" disabled>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="container">
                <h3 class="mb-4">* Result of the Course: </h3> <span class="errorMsg" id="errorResult" > </span>
                <hr>
                <div class="form-group">
                    <textarea id="results_of_course" class="form-control" name="course[results]"
                        placeholder="Insert the results of the Course"><%=course_results%></textarea>
                </div>
            </div>


            <div class="container">
                <h3 class="mb-4">* Modification Made to Course: </h3> <span class="errorMsg" id="errorModification" > </span>
                <hr>
                <div class="form-group">
                    <textarea class="form-control" name="course[modification]" id="course_modification" rows="5"
                        placeholder="Insert Modifications"><%=course_modification%></textarea>
                </div>
            </div>

            <div class="container">
                <h3 class="mb-4">* Course Reflection: </h3> <span class="errorMsg" id="errorReflection" > </span>
                <hr>
                <div class="form-group">
                    <textarea class="form-control" name="course[reflection]" id="course_reflection" rows="5"
                        placeholder="Insert Course Reflection"><%=course_reflection%></textarea>
                </div>
            </div>
            <div class="container">
                <h3 class="mb-4">* Proposed Action for Course Improvement: </h3> <span class="errorMsg" id="errorImprovement" > </span>
                <hr>
                <div class="form-group">
                    <!-- <label for="exampleFormControlTextarea1">Example textarea</label> -->
                    <textarea class="form-control" name="course[improvement]" id="course_action" rows="5"
                        placeholder="Insert Proposed Action"><%=course_actions%></textarea>
                </div>
            </div>

            <!-- TODO: Outcome result var -->
            <div class="container">
                <h3 class="mb-4">* Result of Outcome: </h3> <span class="errorMsg" id="errorOutcome" > </span>
                <hr>
                <div class="form-group">
                    <textarea class="form-control" name="course[result_outcome]" id="outcomeResult" rows="5"
                        placeholder="Insert Proposed Action"><%=result_outcome%></textarea>
                </div>
            </div>

            <div class="container">
                <hr class="my-2">
                <div class="row submitBtn">

                    <!-- SAVE BTN -->
                    <input type="submit" id="saveBtn" name="save" class="btn btn-secondary" value="Save and finish later">

                    <!-- FINISH BTN -->
                    <input id="finish_professor_input" name="finish" class="btn btn-secondary" type="submit"
                        value="Finish Assessment">

                    <span class="errorMsg" id="finishError"></span>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- SUPERNOTE -->
<script src="/summernote-0.8.16-dist/summernote.min.js"></script>

<!-- Professor Input -->
<script src="/javascripts/professorInput.js"></script>

<!-- STYLES -->
<link rel="stylesheet" href="/stylesheets/professor_input.css">
<link rel="stylesheet" href="/summernote-0.8.16-dist/summernote.min.css">

<%- include ('../admin/partials/footer') -%>