<div class="wrapper">
    <div class="container">
      <div class="row">
        <h1>Evaluation Rubric</h1>
        <div class="col-sm-12">
          <!-- Create New Button -->
          <a class="btn btn-success" role="button" name="button" href="{{create}}">Create New</a>
          <!-- Table -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Evaluation Rubric ID</th>
                <th scope="col">Description</th>
                <th scope="col">Student Outcome ID</th>
                <!-- <th scope="col">Date Created</th> -->
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody>
              <!-- {{#each results}} -->
              <tr>
                <td>{{this.rubric_name}}</td>
                <td>{{this.rubric_ID}}</td>
                <td>{{this.rubric_description}}</td>
                <td>{{this.outc_ID}}</td>
                <!-- <td>{{dateCreated}}</td> -->
                <td>
                  <a class="btn btn-danger" role="button" name="button" href="{{edit}}">Edit</a>
                  <a class="btn btn-warning" role="button" name="button" href="{{delete}}">Delete</a>
                </td>
              </tr>
              <!-- {{/each}} -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
