<%- include ('../admin/partials/header') -%>

<link rel="stylesheet" type="text/css" href="/stylesheets/courseMappingStyle.css">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%=homeURL%>">Home</a></li>
        <% for( let index = 0; index < breadcrumb.length; index++ ) { %>

        <% if (index == breadcrumb.length -1) { %>
        <li class="breadcrumb-item active" aria-current="page"><%= breadcrumb[index].name %></li>
        <% }else { %>
        <li class="breadcrumb-item">
            <a href="<%= breadcrumb[index].url %>">
                <%= breadcrumb[index].name %>
            </a>
        </li>
        <% } %>

        <% } %>
    </ol>
</nav>

<!-- FILTERING HEADER -->
<div class="container-fluid mt-2" style="border-bottom: 1px solid rgba(0,0,0,0.1);">
    <div class="row">

        <div class="col-12">

            <div class="d-flex flex-row bd-highlight">

                <div class="p-2 bd-highlight">
                    <h3>Select: </h3>
                </div>

                <div class="p-2 bd-highlight">

                    <div class="form-group">
                        <select class="form-control" id="std_program" name="department" type="text">
                            <option selected disabled value=""> -- Study Program -- </option>
                            <% study_program.forEach(each => { %>
                            <option value="<%= each["prog_ID"] %>"> <%= each["prog_name"] %> </option>
                            <% }) %>
                        </select>
                    </div>
                </div>

                <div class="p-2 bd-highlight">

                    <div class="form-group">
                        <select class="form-control" disabled id="outcomes" type="text" name="outcome">
                            <option selected disabled value=""> -- Outcome -- </option>
                        </select>
                    </div>
                </div>

                <div class="p-2 bd-highlight">
                    <div class="form-group">
                        <select id="academic_term" disabled class="form-control" type="text" name="term">
                            <option selected disabled value="">-- Academic Term --</option>
                            <% term.forEach(each => { %>
                            <option value="<%= each["term_ID"] %>"> <%= each["term_name"] %> </option>
                            <% }); %>
                        </select>
                    </div>
                </div>

                <div class="p-2 bd-highlight" style="width: 15%;">
                    <button id="btn_submit" style="width: 100%;" class="btn btn-primary"> Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="tableContainer">
    <!-- <div class="container mt-4">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th colspan="4" scope="col">Assessment name - Outocome Name - Study Program</th>
                </tr>

                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div> -->
</div>

<!-- MODAL FOR FEEDBACK -->
<%- include ('./modal/feedback') -%>

<style>
    table thead{
        text-align: center;
    }
</style>

<script>


    /**
    * Create table 
    */
    function createTable(data, outcome, std) {

        let html = undefined;
        let performances = data["performances"];
        let numColums = performances.length;
        let scoreLen = performances[0]["scores"].length;

        // =========================== TABLE CONTAINER =============================

        // Container
        html = `<div class="container mt-4">`;

        // table & header
        html += `<table class="table table-bordered">`;

        html += `<thead class="thead-dark">`;

        // =========================== FIRST HEADER =============================
        // + 2 because we add student and outcome result colums
        // first header
        html += `<tr>`;
        html += `<th colspan = "${(numColums + 2)}" scope = "col"> ${data["name"]} - ${outcome} - ${std}</th>`;
        // end first header
        html += `<tr>`;

        // =========================== SECOND HEADER =============================
        // second header
        html += `<tr>`;
        html += `<th scope = "col"> Student # </th>`;
        console.log(data["performances"][0]);
        for (let i = 0; i < numColums; i++) {

            html += `<th scope = "col"> ${data["performances"][i]["description"]}</th>`;
        }
        html += `<th scope = "col"> Outcome Result</th>`;

        // end second header
        html += `<tr>`;

        // end header
        html += `</thead>`;
        
        // =========================== BODY DATA =============================
        // table body
        html += `<tbody>`;

        for (let i = 0; i < scoreLen + 1; i++) {

        }



        // end table body
        html += `</tbody>`;
        // =========================== END TABLE =============================
        // end table
        html += `</table>`;

        // end container
        html += `</div>`;

        $("#tableContainer").html(html);
    }


    // tags select
    const tag_studyProgram = "#std_program";
    const tag_outcome = "#outcomes";
    const tag_term = "#academic_term";
    const tag_modal = "#professor_feedback";
    const tag_span_feedback = "#spanFeedback";
    const tag_btn_submit = "#btn_submit";
    const tag_loader_img = "#loader";

    $(document).ready(function () {

        // STUDY PROGRAM
        $(tag_studyProgram).change(async function () {

            // load image: loading
            $(tag_loader_img).show();

            // disable options
            $(tag_outcome).prop("disabled", true);
            $(tag_term).prop("disabled", true);

            let std_id = $(this).val();

            // get outcomes
            let outcomes = await make_request(`/api/get/outcomesByStudyProgramID/${std_id}`).catch((err) => {
                console.error("Error getting outcomes: ", err);
            });

            // validate outcomes
            if (outcomes == undefined || outcomes.length == 0) {
                $(tag_loader_img).hide();
                modal_message("Cannot find any Outcome");
                return;
            }

            // enable outcomes
            $(tag_loader_img).hide();
            $(tag_outcome).prop("disabled", false);
            $(tag_term).prop("disabled", false);
            $(tag_outcome).empty().append('<option selected disabled value=""> -- Outcome -- </option>');
            fill_select(tag_outcome, outcomes);
        });

        // when click submit
        $(tag_btn_submit).click(function () {

            $(tag_loader_img).show();

            let std_id = $(tag_studyProgram).val();
            let outcome_id = $(tag_outcome).val();
            let term_id = $(tag_term).val();

            let outcomeName = $(tag_outcome).children("option:selected").text();
            let studyProgramName = $(tag_studyProgram).children("option:selected").text();

            let message = undefined;

            if (std_id == undefined || std_id == "")
                message = "Please Select Study Program";
            else if (outcome_id == undefined || outcome_id == "")
                message = "Please Select an Outcome";
            else if (term_id == undefined || term_id == "")
                message = "Please Select Academic Term";

            if (message != undefined) {
                $(tag_loader_img).hide();
                modal_message(false, message);
                return;
            }

            // data for request
            let dept_assessment_data = { "study_program_id": std_id, "outcome_id": outcome_id, "term_id": term_id };

            // make request
            $.ajax({
                type: "GET",
                url: "/api/get/departmentAssessment",
                data: { "data": dept_assessment_data },
                success: (response) => {
                    $(tag_loader_img).hide();

                    if (response != undefined && response.error == false) {
                        modal_message(true, "Data was sent");
                        createTable(response.data[0], outcomeName, studyProgramName);
                    } else {
                        modal_message(false, "we couldn't find the data you're looking");
                    }
                },
                dataType: "json"
            });

            $(tag_loader_img).hide();
        });
    });

    /**
     * @param {bool} error - add class green or red 
     * @param {String} message - message for the modal 
     */
    function modal_message(success, message) {
        $(tag_modal).modal("show");

        if (success) {
            $("#feedbackTitle").text("Success!");
            $(tag_span_feedback).css({ "color": "green" });
        } else {
            $("#feedbackTitle").text("Sorry!");
            $(tag_span_feedback).css({ "color": "red" });
        }

        $(tag_span_feedback).text(message);
    }

    /**
     * @param {String} tag - tag name - ID 
     * @param {Array} values - values for tag name
     */
    function fill_select(tag, values) {
        values.forEach(each => {
            $(tag).append(`<option value="${each['value']}"> ${each['name']}</option>`);
        });
    }


</script>

<%- include ('../admin/partials/footer') -%>