<%- include ('../admin/partials/header') -%>
<script src="/javascripts/ajaxRequest.js"></script>
<link rel="stylesheet" href="/stylesheets/professor_assessment.css">

<div class="container" id="container_professor">


    <div style="width: 80%;">
        <button class="tablink" onclick="openPage('Home', this, '#777')" id="defaultOpen">In progress</button>
        <button class="tablink" onclick="openPage('News', this, '#777')">Completed</button>
        <button class="tablink" onclick="openPage('Contact', this, '#777')">Archive</button>
    </div>

    <button type="button" class="btn btn-success" id="createNew">
        Create New
    </button>

    <div id="Home" class="tabcontent">
        <%- include ('./modal/assessment_in_progress', {assessment_in_progress}) -%>
    </div>

    <div id="News" class="tabcontent">
        <%- include ('./modal/assessment_completed', {assessment_completed}) -%>
    </div>

    <div id="Contact" class="tabcontent">
        <%- include ('./modal/assessment_archive', {assessment_archive}) -%>
    </div>

    <div id="About" class="tabcontent">
        <h3>About</h3>
        <p>Who we are and what we do.</p>
    </div>

    <script>
        function openPage(pageName, elmnt, color) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(pageName).style.display = "block";
            elmnt.style.backgroundColor = color;
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>


</div>



<!-- MODAL CREATE -->
<%- include ('./modal/create_assessment', {departments, academic_term}) -%>

<!-- MODAL DELETE -->
<%- include ('./modal/delete_assessment') -%>

<!-- LOGIC FOR MODAL -->
<script src="/javascripts/modals/assessment_create.js"></script>

<!-- FOOTER -->
<%- include ('../admin/partials/footer') -%>