<%- include ('../admin/partials/header') -%>
<script src="/javascripts/ajaxRequest.js"></script>
<link rel="stylesheet" href="/stylesheets/professor_assessment.css">

<div class="container" id="container_professor">


    <div style="width: 80%;">
        <button class="tablink" onclick="openPage('Home', this, '#777')" id="defaultOpen">In progress</button>
        <button class="tablink" onclick="openPage('News', this, '#777')">Completed</button>
        <button class="tablink" onclick="openPage('Contact', this, '#777')">Archive</button>
    </div>

    <button type="button" class="btn btn-success" id="createNew">
        Create New
    </button>

    <div id="Home" class="tabcontent">
        <%- include ('./modal/assessment_in_progress', {assessment_in_progress, academic_term}) -%>
    </div>

    <div id="News" class="tabcontent">
        <%- include ('./modal/assessment_completed', {assessment_completed, academic_term, base_url}) -%>
    </div>

    <div id="Contact" class="tabcontent">
        <%- include ('./modal/assessment_archive', {assessment_archive, academic_term}) -%>
    </div>

</div>



<!-- MODAL CREATE -->
<%- include ('./modal/create_assessment', {departments, academic_term}) -%>

<!-- MODAL DELETE -->
<%- include ('./modal/delete_assessment') -%>

<!-- LOGIC FOR MODAL -->
<script src="/javascripts/modals/assessment_create.js"></script>

<script>
    function openPage(pageName, elmnt, color) {


        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

<script>
    $(document).ready(function () {

        $("#filter_term").change(function () {

            let value = $(this).val().toLowerCase();

            console.log(value);
            $(".progress_assessments").filter(function () {

                // find all term in assessment
                let text = $(this).find('input[name="term_name"]').val();

                $(this).toggle(text.toLowerCase().indexOf(value) > -1);

            });

            // update the number of quantity
            // $("#number").text($("#filter tr:visible").length);
        });

        // $("#myInput").on("keyup", function () {

        //     let value = $(this).val().toLowerCase();
        //     console.log(value);
        //     $(".progress_assessments").filter(function () {

        //         // find all term in assessment
        //         let text = $(this).find('input[name="term_name"]').val();

        //         $(this).toggle(text.toLowerCase().indexOf(value) > -1);

        //         // // get the text of the tr
        //         // let tr_text = $(this).text().toLowerCase();

        //         // $(this).toggle(names.some(n => tr_text.indexOf(n.toLowerCase()) > 0));

        //     });

        //     let names = study_programs.map(e => e.toLowerCase());
        //     // update the number of quantity
        //     // $("#number").text($("#filter tr:visible").length);
        // });
    });
</script>


<!-- FOOTER -->
<%- include ('../admin/partials/footer') -%>