<%- include ('../admin/partials/header') -%>

<div class="container-fluid">
    <div class="row row-heigth">

        <div class="col-2 side-bard">
            <div class="side-bar-title">
                <p> My Assessments</p>
            </div>

            <div class="group-btn">
                <!-- ASSESSMENT IN PROGRESS -->
                <button class="btn btn-outline-primary active" id="assessmentProgress"
                    onclick="openPage('#assessmentProgress', '#progress','#ecfbfc' )">
                    Assessment in Progress &nbsp;<i id="assessmentProgress" class="fa fa-play-circle-o"></i>
                </button>

                <!-- ASSESSMENT COMPLETED -->
                <button class="btn btn-outline-primary" id="assessmentCompleted"
                    onclick="openPage('#assessmentCompleted', '#completed', '#d6f6f9')">
                    Assessment Completed &nbsp;<i id="assessmentCompleted" class="fa fa-check"></i>
                </button>

                <!-- ASSESSMENT ARCHIVE -->
                <button class="btn btn-outline-primary" id="assessmentArchive"
                    onclick="openPage('#assessmentArchive', '#archive' ,'#aaedf2')">
                    Assessment Archive &nbsp; <i id="assessmentArchive" class="fa fa-inbox"></i>
                </button>

                <!-- PROFESSOR ANALYSIS -->
                <!-- <button class="btn btn-outline-primary" id="analysis">
                    Analysis &nbsp;<i id="analysis" class="fa fa-bar-chart"></i>
                </button> -->
            </div>

            <% if( HavePrivilege){ %>

            <div class="side-bar-title coordinatorOptions">
                <p> Coordinator</p>
            </div>

            <div class="group-btn coordinatorBtn">
                <!-- ASSESSMENT IN PROGRESS -->
                <a class="btn btn-outline-primary" href="<%=base_url%>/coordinator" id="assessment_view_professors">
                    Professor's Assessments &nbsp; <i id="assessment_view_professors" class="fa fa-file-text-o"></i>
                </a>
            </div>

            <%}%> 

        </div>

        <div class="col-10" style="padding: 0; max-width: 100%;">

            <div class="row" style="margin: 0;">

                <div class="col-12 bg-progress-color" id="title">
                    <h2 id="header-title">Assessment in Progress &nbsp;<i class="fa fa-play-circle-o"></i></h2>
                </div>

                <div class="col-12 header-filtering">

                    <div class="d-flex flex-row bd-highlight">

                        <div class="p-2 bd-highlight btn-create">
                            <button type="button" class="btn btn-success" id="create-assessment">
                                Create Assessment
                            </button>
                        </div>

                        <div class="p-2 bd-highlight" style="margin-left: 40%;">
                            <h3 style="padding: 0; margin:0;  margin-top: 3%;">Filter By Term: </h3>
                        </div>

                        <div class="p-2 bd-highlight filter-box">
                            <div class="form-group">
                                <select name="filter" class="form-control" id="filterBy" type="text">
                                    <option selected value=""> -- All -- </option>
                                    <% academic_term.forEach(term => { %>
            <option value="<%=term["term_name"]%>"><%=term["term_name"]%></option>
            <% }) %>
            </select>
        </div>
    </div>
</div>
</div>

<!-- ASSESSMENT IN PROGRESS -->
<div class="col-12 header-table" id="progress">
    <%- include ('./modal/assessment_in_progress', {assessment: assessment_in_progress, academic_term, emptyMsg: "In Progress"}) -%>
</div>

<!-- ASSESSMENT COMPLETED -->
<div class="col-12 header-table d-none" id="completed">
    <%- include ('./modal/assessment_completed', {assessment: assessment_completed, academic_term, emptyMsg: "Completed"}) -%>
</div>

<!-- ASSESSMENT ARCHIVE -->
<div class="col-12 header-table d-none" id="archive">
    <%- include ('./modal/assessment_archive', {assessment: assessment_archive, academic_term, emptyMsg: "Archive"}) -%>
</div>


<!-- MODAL CREATE -->
<%- include ('./modal/create_assessment', {departments, academic_term}) -%>

<!-- MODAL DELETE -->
<%- include ('./modal/delete_assessment') -%>

<!-- FOOTER -->

<!-- STYLES -->
<link rel="stylesheet" href="/stylesheets/professor_index.css">
<link rel="stylesheet" href="/stylesheets/professor_assessment.css">
<!-- REQUEST -->
<script src="/javascripts/ajaxRequest.js"></script>
<!-- FILTER -->
<script src="/javascripts/filters/home.js"></script>
<!-- STATIC HEADER -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.1.4/jquery.floatThead.min.js"></script>
<!-- MODAL -->
<script src="/javascripts/modals/assessments.js"></script>

<%- include ('../admin/partials/footer') -%>