<%- include ('../admin/partials/header') -%>

<style>
    .side-bard {
        background-color: #333333;
        color: #ffffff;
        border: none;
    }

    .side-bard button {
        font-size: 0.8em;
        border-color: white;
        color: white;
        margin: 5% 0;
        padding: 5%;
        width: 100%;
        text-transform: uppercase;
        font-weight: bold;
    }

    .side-bard button:last-child {
        margin-bottom: 10%;
    }

    .side-bard button i {
        float: right;
        font-size: 1.5em;
    }

    .side-bar-title {
        /* border: 1px solid red; */
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: 1px solid #706c61;
    }

    .mg-0,
    .pd-0 {
        margin: 0;
    }

    .header-filtering {
        width: 100%;
        /* border-bottom: 1px solid #706c61; */
    }

    .header-filtering div {
        display: inline;
        line-height: 4rem;
    }

    .header-filtering div:last-child {
        font-size: 1.2em;
        float: right;
    }

    label {
        margin: 0;
    }

    /* BUTTON */
    #create-assessment {
        padding: 1%;
        text-transform: uppercase;
        font-weight: bold;
    }

    .row-heigth {
        min-height: 450px;
        max-height: 450px;
        height: 450px;
        border-bottom: 1px solid #706c61;
    }

    .header-table {
        overflow-y: scroll;
    }

    .title {
        background-color: #75daad;
        /* color: white; */
        padding: 1%;
        text-align: center;
        /* border-bottom: 1px solid #706c61; */
    }

    .title i {
        font-size: 0.8em;
    }

    th {
        font-family: 'Segoe UI';
        font-size: 1.2em;
    }


    /* TABLE  */
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 title">
            <h2 id="header-title">Assessment in Progress &nbsp;<i class="fa fa-play-circle-o"></i></h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row row-heigth">

        <div class="col-2 side-bard">
            <div class="side-bar-title">
                <p> Options</p>
            </div>

            <div class="group-btn">
                <!-- ASSESSMENT IN PROGRESS -->
                <button class="btn btn-outline-primary active" id="assessmentProgress">
                    Assessment in Progress &nbsp;<i class="fa fa-play-circle-o"></i>
                </button>

                <!-- ASSESSMENT COMPLETED -->
                <button class="btn btn-outline-primary" id="assessmentCompleted">
                    Assessment Completed &nbsp;<i class="fa fa-check"></i>
                </button>

                <!-- ASSESSMENT ARCHIVE -->
                <button class="btn btn-outline-primary" id="assessmentArchive">
                    Assessment Archive &nbsp;<i class="fa fa-inbox"></i>
                </button>

                <!-- PROFESSOR ANALYSIS -->
                <button class="btn btn-outline-primary" id="analysis">
                    Analysis &nbsp;<i class="fa fa-bar-chart"></i>
                </button>
            </div>
        </div>

        <div class="col-10" style="padding: 0; max-width: 100%;">

            <div class="row" style="margin: 0;">

                <div class="col-12 header-filtering">

                    <div>
                        <button type="button" class="btn btn-success" id="create-assessment">
                            Create Assessment
                        </button>
                    </div>

                    <div>
                        <div class="filter">
                            <label for="filter">Filter &nbsp;<i class="fa fa-filter"></i></label>
                        </div>
                    </div>

                </div>

                <!-- ASSESSMENT IN PROGRESS -->
                <div class="col-12 header-table" id="progress">
                    <%- include ('./modal/assessment_in_progress', {assessment: assessment_in_progress, academic_term}) -%>
                </div>

                <!-- ASSESSMENT COMPLETED -->
                <div class="col-12 header-table d-none" id="completed">
                    <%- include ('./modal/assessment_completed', {assessment: assessment_completed, academic_term}) -%>
                </div>

                <!-- ASSESSMENT ARCHIVE -->
                <div class="col-12 header-table d-none" id="archive">
                    <%- include ('./modal/assessment_archive', {assessment: assessment_archive, academic_term}) -%>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL CREATE -->
<%- include ('./modal/create_assessment', {departments, academic_term}) -%>

<!-- FOOTER -->
<script src="/javascripts/ajaxRequest.js"></script>
<script src="/javascripts/modals/assessment_create.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.1.4/jquery.floatThead.min.js"></script>
<script>

    // ASSESSMENT BUTTONS TAGS
    const btnProgress = "assessmentProgress";
    const btnCompleted = "assessmentCompleted";
    const btnArchive = "assessmentArchive";
    const btnAnalysis = "analysis";

    // table to show tags
    const tableProgress = "#progress";
    const tableCompleted = "#completed";
    const tableArchive = "#archive";

    $(document).ready(function () {

        // TABLE STICKY HEADER
        $('#table').floatThead()

        // WHEN CLICK SOME OF THE OPTIONS BUTTONS
        $(".group-btn button").click(function (event) {

            // remove the active class in all bnt
            $(".group-btn button").each(function () {
                $(this).removeClass("active");

            });

            // hide all tables
            $(".header-table").each(function () {
                $(this).addClass("d-none");
            });


            // add the active class to the button clicked
            $(this).addClass("active");

            // get the html content from the button clicked
            let html_text = $(this).html();

            // change the header for the button clicked headers
            $("#header-title").html(html_text);


            // get the button id
            let btn_id = event.target.id;

            // if the btn_id has something
            if (btn_id != undefined && btn_id.length > 0) {

                // store the id to show
                let id_selected = undefined;

                if (btn_id == btnProgress) {
                    id_selected = tableProgress;
                } else if (btn_id == btnCompleted) {
                    id_selected = tableCompleted;
                } else if(btn_id == btnArchive){
                    id_selected = tableArchive;
                }

                $(id_selected).removeClass("d-none");

            }

        });


    });




</script>
<%- include ('../admin/partials/footer') -%>