<%- include ('../../partials/header') -%>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="/javascripts/libraries/chartjs-plugin-annotation.js"></script>

<!-- MODAL FOR BREADCRUMB -->
<%- include ('./breadcrumb', {homeURL, breadcrumb, progressBar, hasValue}) -%>

<input type="hidden" id="amountOfCol" name="amountOfCol" value="<%= colNums %> ">
<input type="hidden" id="perfCrit" name="perfCrit" value="<%= perfCrit %> ">
<input type="hidden" id="outcomeName" name="outcomeName" value="<%= outc_name %> ">
<input type="hidden" id="assessmentID" name="assessmentID" value="<%= id %>">
<input type="hidden" id="perfID" name="perfID" value="<%= perf_ID %>">
<input type="hidden" id="prevScores" name="prevScores" value="<%= prevScores %>">
<input type="hidden" id="hasValue" name="hasValue" value="<%= hasValue %>">
<input type="hidden" id="hasGraph" name="hasGraph" value="<%= hasGraph %>">
<input type="hidden" id="perC_Desk" name="perC_Desk" value="<%= perC_Desk %>">

<div class="modal fade" id="studModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Please enter the amount of student in the course</h5>
		</div>

		<div id="feedback" style="display: none;"><div class="alert alert-danger alert-dismissible fade show" role="alert"><span class="message"></span></div></div>
		
		<div class="modal-body">
			<div class="form-group">
			  <label for="amountOfStudent" class="col-form-label">Number Of Student:</label>
			  <input type="text" class="form-control" id="amountOfStudent" required>
			</div>
		</div>
		<div class="modal-footer">
		  <button id="enterStudent" type="button" class="btn btn-success">Enter</button>
		</div>
	  </div>
	</div>
</div>



<div id="alertDiv" style="display: none;"><div class="alert alert-danger alert-dismissible fade show" role="alert"><span></span></div></div>
<div id="success" style="display: none;"><div class="alert alert-success alert-dismissible fade show" role="alert"><span></span></div></div>


<div class="container-fluid outcomeInfo">
	<div class="row" >
		<div class="col-9" style="padding-right: 0px;">
			<button class="btn btn-outline-danger" id="delRow">Delete Selected</button><img src="/images/bin_black.png" alt="">
			<h4 style="float: right;">Insert Criteria Values for each Student</h4>
		</div> 
		<div class="col-3">
			<div class="input-group rowInput">
				<input type="text" class="form-control" placeholder="# of rows" id="numofRows">
				<div class="input-group-append" id="button-addon4">
					<button class="btn btn-outline-success" type="button" id="addRow">Add</button>
					<button class="btn btn-outline-secondary" type="button" id="clearAll">Clear All</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="tableRow">
		<table id="table" class="table" align="center">
			<thead>
				<tr id="header" class="sticky">
					<th scope="col" class="headerRow" id="headerStudent">
						<label class="contain">Student
							<input type="checkbox" id="selectAll"/>
							<span class="checkmark" style="margin-top: 3%;"></span>
						</label>
					</th>
				</tr>
			</thead>
			<tbody id="tableBody">
			</tbody>
			<tfoot id="tableFooter">
				<tr id="footer" class="sticky">
					<th class="footerRow">
						<span id="porcStud">% of Stud. with 3 or more</span>
					</th>
				</tr>
			</tfoot>
		</table>		
	</div>
	<div class="row">
			<button id="save" class="btn btn-outline-success bottomBtnRow" role="button">Save And Finish Later</button>
			<button id="next" class="btn btn-success bottomBtnRow" role="button">Save And Continue</button>
	</div>
</div>
<br>
<div class="container-fluid graphcontainer">
	<div class="row">
		<div class="col-4" id="leftInfo">
			<h5 style="text-align: center;">% Student with 3 or more in <%= outc_name %></h5>
			<input type="hidden" id="graph" name="graph" value="">
			<canvas id="myChart" role="img"></canvas>
		</div>
		<div class="col-4" id="middleInfo">
			<table class="table" id="tableInfo">
				<thead>
				  <tr>
					<th scope="col" colspan="6">Table Information</th>
				  </tr>
				</thead>
				<tbody>
				</tbody>
			  </table>
		</div>
		<div class="col-4" id="rightInfo">
			<h5>Outcome Information: <span class="outcome"><%= outc_name %></span></h5>
			<p><%= outcomeDescription %></p>
		</div>
	</div>
	<div class="row" id="outcomeInfoRow">
		<table class="table" id="outcomeInfo">
			<thead>
				<tr>
					<th scope="col" colspan="6">Performance Criterias for <span class="outcome"><%= outc_name %></span></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>


<!-- Stylesheet for Performance Table -->
<link rel="stylesheet" type="text/css" href="/stylesheets/performance_table.css">


<!-- jQuery script -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/notify.js"></script>
<script type="text/javascript" src="/javascripts/performanceTable.js"></script>

<!-- STYLE FOR PROGRESS BAR -->
<link rel="stylesheet" href="/stylesheets/progress_bar.css">

<%- include ('../../partials/footer') -%>