<%- include ('../../partials/header') -%>

<% if (!isArchive && belong_to_user) { %>
<%- include ('./breadcrumb', {homeURL, breadcrumb, progressBar: 100, hasValue: 'y'}) -%>
<% } %>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<input id="perfResults" type="hidden" value="<%= perfResults %>">
<input id="header" type="hidden" value="<%= header %>">
<input id="graph" type="hidden" value="<%= graph %>">
<div id="exportContent" class="container" style="margin-top: 10px;">

    <style>
        #exportContent {
            -webkit-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75);
        }

        .container {
            padding-bottom: 100px;
        }

        .report-body p {
            text-align: justify;
            /* border: 1px solid red; */
        }

        .report-header img {
            width: 10%;
        }

        .header-department {
            font-style: italic;
            font-weight: bold;
        }

        .header-course-information {
            font-style: normal;
            font-size: 1.1em;
            font-weight: bold;
        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 5px;
            text-align: left;
        }

        .ml-3 table {
            width: 80%;
            margin-left: 5%;
        }

        .report-body ol>li {
            font-size: 1em;
        }

        .container p {

            margin-bottom: 0;
            /* margin-top: ; */
            width: 90%;
            text-align: justify;
        }

        table th,
        table td {
            text-align: center;
        }
    </style>


    <div class="row">

        <div class="col-12 report-header">

            <div>
                <p id="inter-logo" style="text-align: center;">
                    <img src="/images/inter-logo_50.jpg" alt="">
                </p>
            </div>


            <p style="text-align: center; line-height: 1.1em;">
                Inter American University of Puerto Rico <br>
                Bayam&oacute;n Campus <br>
                <span class="header-department">
                    School of Engineering<br>
                    <%= header["dep_name"] %>
                </span>
                <br>
                <br>
                <span class="header-course-information">
                    Faculty Course Assessment Report
                    <br>
                    <span id="course_number">
                        <%= header["course_number"] %>
                    </span>
                    - <%= header["course_name"] %> - Section: <%= header["course_section"] %>
                    <br>
                    <span id="term_name"> <%= header["term_name"] %></span> - Prof. <%= header["first_name"] %>
                    <%= header["last_name"] %>
                </span>
            </p>
        </div>


        <div class="col-12 report-body">
            <p><strong>I. Catalog Description:</strong></p>
            <p style="margin-top: 0;">
                <%= header["course_description"] %>
            </p>

            <p><strong> II. Course Development:</strong> <br>

                <div>
                    <p><strong>1. Grade Distribution:</strong></p>
                    <table style="width: 90%; margin-left: 5%;">
                        <tr>
                            <% for( let key in grades) { %>
                            <th><%= key %></th>
                            <% } %>
                        </tr>
                        <tr>
                            <% for( let key in grades) { %>
                            <td><%= grades[key] %></td>
                            <% } %>
                        </tr>
                    </table>
                </div>
            </p>
        </div>

        <!-- TODO: Do a loop here -->
        <div class="col-12 report-body">
            <p style=" margin-bottom: 0;"><strong>2. Results of the course:</strong><br>
                <span id="course_results" class="sp-data">
                    <%= profesor_input["course_results"] %>
                </span>
            </p>
        </div>

        <div class="col-12 report-body">
            <p style="margin-bottom: 0;"><strong>3. Modification Made to Course:</strong><br>
                <span id="course_modification" class="sp-data">
                    <%= profesor_input["course_modification"] %>
                </span>
            </p>
        </div>

        <div class="col-12 report-body">
            <p style="margin-bottom: 0;"><strong>4. Reflection:</strong><br>
                <span id="course_reflection" class="sp-data">
                    <%= profesor_input["course_reflection"] %>
                </span>
            </p>
        </div>

        <div class="col-12 report-body">
            <p style="margin-bottom: 0;"><strong>5. Proposed Actions for Course Improvements:</strong><br>
                <span id="course_actions" class="sp-data">
                    <%= profesor_input["course_actions"] %>
                </span>
            </p>
        </div>

        <!-- END OF LOOP HERE -->

        <div class="col-12 report-body">
            <p style="margin-bottom: 0;">
                <strong>III. Course <span style="text-transform: uppercase;"><%= header["outc_name"] %></span>
                    Assessment:
                    <!-- Score Scale: 4-Exemplary, 3-Proeficient, 2-Developing, 1-Beginning -->
                </strong> <br>
            </p>

            <div class="ml-3">
                <div>
                    <p>

                        <strong>1. <%= header["outc_name"] %>:</strong> <%= header["outc_description"] %>
                        <br>
                        <strong>Sources:</strong> Unknow
                    </p>
                </div>

                <p>
                    <% performance_criteria.forEach(e => { %>
                        <strong>PC-<%=e["order"] %>: </strong> <%=e["description"] %>
                        <br> 
                    <% }) %> 
                </p>

                <p>
                    <strong> 2. Target </strong>
                    <br>
                    75% of the student must be equal or more than 3 as final value in the outcome
                </p>


                <p>
                    <strong>3. Outcome Distribution</strong>
                </p>

                <table style="margin-left: 5%;width: 80%;">
                    <tr>
                        <th scope="col" style="width: 20%;"></th>
                        <% performance_criteria.forEach(e => { %>
                            <th> <strong>PC-<%=e["order"] %></strong></th>
                        <% }) %> 

                        <th><%= header["outc_name"] %></th>
                    </tr>
                    <tr>
                        <th scope="col"> % Student with 3 or more</th>
                        <% performanceResults["results"].forEach((element) => { %>
                            <td><%= element %>%</td>
                        <% }); %>
                    </tr>

                </table>

                <br>

                <div>
                    <p>
                        <strong>4. Results of the outcome </strong>
                        <br>
                        <span id="result_outcome" class="sp-data">
                            <%= profesor_input["result_outcome"] %>
                        </span>
                    </p>
                </div>

                <!-- <br style="page-break-before: always"> -->

                <div>
                    <p style="max-width: 300px;">
                        <strong>5. Graph Distribution </strong>
                        <br>
                        <img id="chart" src="" alt="Outcome Graph">
                    </p>
                    
                    <p>
                        <strong>
                            Table. Student data results for <%= header["outc_name"] %>
                            (<%= performanceData.length%> Student sample).
                        </strong>
                    </p>

                    <table style="margin-left: 10%;width: 80%;">
                        <tr>
                            <th scope="col" style="width: 10%;"> Student </th>
                            <th scope="col" colspan="<%= performanceData[0]["perfC"].length %>"> Average </th>
                            <th scope="col" style="width: 10%;"> </th>
                        </tr>
                        <tr>
                            <th scope="col" style="width: 10%;"></th>
                            <% performance_criteria.forEach(e => { %>
                                <th> <strong>PC-<%=e["order"] %></strong></th>
                            <% }) %> 
    
                            <th><%= header["outc_name"] %></th>
                        </tr>

                        <% for( let i = 0; i < performanceData.length; i++ ) { %>
                        <tr>
                            <th scope="col" style="width: 10%;"> <%= (i+1) %> </th>

                            <% performanceData[i]["scores"].forEach(each => {%>
                            <td><%=each%></td>
                            <% }); %>

                            <th><%= performanceResults["outcomeRowAVG"][i] %> </th>
                        </tr>
                        <% } %>
                        <tr>
                            <th scope="col" style="width: 10%;"> % Student with 3 or more</th>
                            <% performanceResults["results"].forEach(element => { %>
                            <th><%= element %>%</th>
                            <% }); %>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .expot-btn {
        width: 100%;
    }

    .expot-btn a {
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 30%;
        margin-top: 1%;
        padding: 1%;
        width: 40%;
    }
</style>
<div class="expot-btn">
    <a class="word-content btn btn-success" href="javascript:void(0)">Save as Word document</a>
</div>

<div style="margin-left: 85%;">
    <a href="<%=base_url%>">Go back to Assessments</a>
</div>

<!-- JQUERY NEEDED FOR WORD DOCUMENT -->
<script src="/javascripts/libraries/jquery-1.11.1.min.js"></script>

<!-- FILE SAVER -->
<script src="/javascripts/libraries/FileSaver.js"></script>
<script src="/javascripts/libraries/jquery.wordexport.js"></script>

<!-- FOR PDF GENERATION -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script> -->

<script>


    let perfResults = JSON.parse($('#perfResults').val());
    let graph = $('#graph').val();

    $(document).ready(function () {
        let tag_course_info = ["#course_results", "#course_modification", "#course_reflection", "#course_actions", "#result_outcome"];

        if (graph == 'n') {

        } else {
            $('#chart').attr('src', graph);
        }

        tag_course_info.forEach(each => {
            let text = $(each).text();
            $(each).text("").html(text);
        });

        $("p").each(function () {
            let text = $(this).text();
            if (text.length < 2) {
                console.log($(this).remove());
            }
        });

        setInterval(function () {
            $(".sp-data p").each(function () {
                $(this).css({ 'margin-left': '3%', "margin-top": "0" });
            });
        }, 300);

        $(".word-content").click(function () {
            let course_number = $("#course_number").text().replace(" ", "_");
            let term_name = $("#term_name").text().replace("-", "_");
            let document_name = `Assessment_${course_number}_${term_name}`;
            $('#exportContent').wordExport(document_name);
        });
    });

</script>


<%- include ('../../partials/footer') -%>

<!--
<script>
<button onclick="Export2Doc('exportContent', 'html-conten-with-image');">Export as .doc</button>

    function Export2Doc(element, filename = '') {
        var preHtml = "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
        var postHtml = "</body></html>";
        var html = preHtml + document.getElementById(element).innerHTML + postHtml;

        var blob = new Blob(['\ufeff', html], {
            type: 'application/msword'
        });

        // Specify link url
        var url = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(html);

        // Specify file name
        filename = filename ? filename + '.doc' : 'document.doc';

        // Create download link element
        var downloadLink = document.createElement("a");

        document.body.appendChild(downloadLink);

        if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveOrOpenBlob(blob, filename);
        } else {
            // Create a link to the file
            downloadLink.href = url;

            // Setting the file name
            downloadLink.download = filename;

            //triggering the function
            downloadLink.click();
        }

        document.body.removeChild(downloadLink);
    }
</script> -->