<%- include ('../../partials/header') -%>

<!-- FILTERING HEADER -->
<div class="container-fluid container-filter" style="border-bottom: 1px solid rgba(0,0,0,0.1);">
    <!-- FILTERS -->
    <div class="row">

        <div class="col-1">
            <h3>Filters: </h3>
        </div>

        <!-- FILTER PROFESSOR -->
        <div class="col-4">
            <div class="form-group">
                <div>
                    <input name="filter" class="form-control" id="filterProfessorName" style="margin-top: 0;" type="text"
                        placeholder="Type Professor Name or ID." back>
                </div>
            </div>
        </div>

        <!-- FILTER COURSE -->
        <div class="col-4">
            <div class="form-group">
                <div>
                    <input name="filter" class="form-control" id="filterCourse" style="margin-top: 0;" type="text"
                        placeholder="Type Course Number. Ex COEN 2220" back>
                </div>
            </div>
        </div>

        <!-- FILTER STATUS -->
        <div class="col-2">
            <div class="form-group">
                <select class="form-control" id="filterStatus" type="text">
                    <option selected value=""> -- Status -- </option>
                    <% filterStatus.forEach(status => { %>
                        <option value="<%=status %>"> <%=status%> </option>
                    <% }); %>
                </select>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-1">
            <!-- <h3>Filters: </h3> -->
        </div>

        <!-- FILTER STD PROGRAM -->
        <div class="col-2">
            <div class="form-group">
                <select class="form-control" id="filterStudyProgram" type="text">
                    <option selected value="" data-std=""> -- Study Program -- </option>

                    <% study_programs.forEach(each => { %>
                        <option value="<%= each["prog_name"] %>, <%= each["prog_ID"]%>" > <%= each["prog_name"] %> </option>
                    <% }); %>
                </select>
            </div>
        </div>

        <!-- FILTER OUTCOME -->
        <div class="col-2" id="box_outcome">
            <div class="form-group">
                <select class="form-control" id="filterOutcome" disabled type="text">
                    <option selected value=""> -- Outcome -- </option>
                </select>
            </div>
            <span id="outcome_span"></span>
        </div>

        <!-- FILTER TERM -->
        <div class="col-2">
            <div class="form-group">
                <select class="form-control" id="filterTerm" type="text">
                    <option selected value=""> -- Academic Term -- </option>
                    <% term.forEach(each => { %>
                        <option value="<%= each["term_name"] %>"> <%= each["term_name"] %> </option>
                    <% }) %>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid tableContainer">
    <table id="table" class="table table-fixed table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Professor</th>
                <th>Assessment</th>
                <th>Course</th>
                <th>Outcome</th>
                <th>Term</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tableFilter">

            <% if (hasAssessments) { %>
                <% var counter = 1; %>

                <!-- ASSESSMENT IN PROSESS -->
                <%- include ('../modal/coordinator_table', {assessments: assessment_in_progress}) -%>

                <!-- ASSESSMET COMPLETED -->
                <%- include ('../modal/coordinator_table', {assessments: assessment_completed}) -%>

                <!-- ASSESSMENT ARCHIVE -->
                <%- include ('../modal/coordinator_table', {assessments: assessment_archive}) -%>

            <% } %>
        </tbody>
    </table>
</div>

<!-- STYLES -->
<link rel="stylesheet" href="/stylesheets/professor_index.css">
<link rel="stylesheet" href="/stylesheets/coordinator.css">
<!-- STATIC HEADER -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.1.4/jquery.floatThead.min.js"></script>
<!-- MODAL -->
<script src="/javascripts/modals/assessments.js"></script>
<!-- FILTERS -->
<script src="/javascripts/filters/coordinator.js"></script>
<!-- FOOTER -->
<%- include ('../../partials/footer') -%>