<%- include ('../../partials/header') -%>

<link rel="stylesheet" type="text/css" href="/stylesheets/courseMappingStyle.css">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%=homeURL%>">Home</a></li>
        <% for( let index = 0; index < breadcrumb.length; index++ ) { %>

        <% if (index == breadcrumb.length -1) { %>
        <li class="breadcrumb-item active" aria-current="page"><%= breadcrumb[index].name %></li>
        <% }else { %>
        <li class="breadcrumb-item">
            <a href="<%= breadcrumb[index].url %>">
                <%= breadcrumb[index].name %>
            </a>
        </li>
        <% } %>

        <% } %>
    </ol>
</nav>

<!-- FILTERING HEADER -->
<div class="container-fluid mt-2" style="border-bottom: 1px solid rgba(0,0,0,0.1);">
    <div class="row">

        <div class="col-12">

            <div class="d-flex flex-row bd-highlight">

                <div class="p-2 bd-highlight">
                    <h3>Select: </h3>
                </div>

                <div class="p-2 bd-highlight">

                    <div class="form-group">
                        <select class="form-control" id="std_program" name="department" type="text">
                            <option selected disabled value=""> -- Study Program -- </option>
                            <% study_program.forEach(each => { %>
                            <option value="<%= each["prog_ID"] %>"> <%= each["prog_name"] %> </option>
                            <% }) %>
                        </select>
                    </div>
                </div>

                <div class="p-2 bd-highlight">

                    <div class="form-group">
                        <select class="form-control" disabled id="outcomes" type="text" name="outcome">
                            <option selected disabled value=""> -- Outcome -- </option>
                        </select>
                    </div>
                </div>

                <div class="p-2 bd-highlight">
                    <div class="form-group">
                        <select id="academic_term" disabled class="form-control" type="text" name="term">
                            <option selected disabled value="">-- Academic Term --</option>
                            <% term.forEach(each => { %>
                            <option value="<%= each["term_ID"] %>"> <%= each["term_name"] %> </option>
                            <% }); %>
                        </select>
                    </div>
                </div>

                <div class="p-2 bd-highlight" style="width: 15%;">
                    <button id="btn_submit" style="width: 100%;" class="btn btn-primary"> Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-3">
            <!-- BTN -->
            <button class="btn btn-secondary" id="button-a">Export tables as Excel file</button>
        </div>

        <div class="col-3">
            <!-- BTN -->
            <h3>Table Founds: </h3>
        </div>
    </div>
</div>

<!-- TABLES GOES HERES -->
<div class="container-fluid" id="tableContainer">

</div>

<!-- MODAL FOR FEEDBACK -->
<%- include ('../modal/feedback') -%>

<!-- STYLES -->
<style>
    table thead {
        text-align: center;
    }

    .table-cont {
        margin-top: 4%;
        margin-bottom: 4%;
    }
</style>


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
<script src="/javascripts/libraries/jquery.table2excel.min.js"></script>
<script src="/javascripts/libraries/xlsx.full.min.js"></script>
<script src="/javascripts/libraries/FileSaver.js"></script>
<script src="/javascripts/coordinator_department_assessment.js"></script>

<%- include ('../../partials/footer') -%>