<script>

    //RELOAD PAGE WHEN USER TRY TO 
    (function () {
        if (window.localStorage) {
            if (!localStorage.getItem('firstLoad')) {
                localStorage['firstLoad'] = true;
                window.location.reload();
                location.reload(true);
            } else
                localStorage.removeItem('firstLoad');
        }
    })();

    //RELOAD PAGE WHEN USER CLICK BACK BUTTON
    window.addEventListener("pageshow", function (event) {
        var historyTraversal = event.persisted ||
            (typeof window.performance != "undefined" &&
                window.performance.navigation.type === 2);
        if (historyTraversal) {
            // Handle page restore.
            window.location.reload();
        }
    });
</script>

<div class="container-fluid">
    <h1>Delete</h1>
    <h3>Are you sure you want to delete this Study Program?</h3>
    <hr class="my-4">
    <form action="/studyPrograms/{{prog_ID}}?_method=DELETE" method="POST">

        <div class="row">
            <div class="col-2 text-right"><strong>Name</strong></div>
            <div class="col">{{prog_name}}</div>
        </div>
        <div class="row">
            <div class="col-2 text-right"><strong>Description</strong></div>
            <div class="col">Computer Engineering Study Program</div>
        </div>
        <div class="row">
            <div class="col-2 text-right"><strong>Study Program ID</strong></div>
            <div class="col">{{prog_ID}}</div>
        </div>
        <div class="row">
            <div class="col-2 text-right"><strong>Date Created</strong></div>
            <div class="col">{{date_created}}</div>
        </div>
        <div class="row my-4">
            <div class="col-2"></div>
            <div class="col"><button type="submit" class="btn btn-outline-secondary">Delete</button></div>
        </div>
        <a href="{{base_url}}">Back to List</a>
        <hr class="my-3">
    </form>
    <p>&copy; 2019 - Universidad Interamericana Puerto Rico Bayam&oacute;n Campus</p>
</div>
