<script>

    //RELOAD PAGE WHEN USER CLICK BACK BUTTON
window.addEventListener("pageshow", function (event) {
    var historyTraversal = event.persisted ||
        (typeof window.performance != "undefined" &&
            window.performance.navigation.type === 2);
    if (historyTraversal) {
        // Handle page restore.
        window.location.reload();
    }
});
</script>

<div class="container-fluid">
  <form action="studyPrograms" method="POST">
    <h2>Study Programs</h2>
    <hr class="my-4">
    <form action="{{create}}" method="post">
    <div class="row py-2">
        <div class="col-sm-3">
            <a href="/studyPrograms/create" class="btn inter-green inter-green-btn" role="button">Create New</a>
        </div>
        <div class = "col-sm-9">
            <div class="input-group">
                <select class="form-control" name = "dep_ID">
                    <option value="{{current_depID}}">{{current_depName}}</option>
                    {{#each resultsDD}}
                    <option value="{{this.dep_ID}}">{{this.dep_name}}</option>
                    {{/each}}
                </select>
                <div class="input-group-append">
                    <button class="btn inter-green inter-green-btn" role="button">Filter</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-2">
    <div class="row bg-secondary text-light p-2">
        <div class="col"><strong>Name</strong></div>
        <div class="col"><strong>Study Program ID</strong></div>
        <div class="col"><strong>Description</strong></div>
        <div class="col"><strong>Department ID</strong></div>
        <div class="col"><strong>Date Created</strong></div>
        <div class="col"></div>
    </div>
    {{#each results}}
        <div class="row py-2 btn-light">
            <div class="col">{{this.prog_name}}</div>
            <div class="col">{{this.prog_ID}}</div>
            <div class="col">Science Study Program Description</div>
            <div class="col">{{this.dep_ID}}</div>
            <div class="col">{{this.date_created}}</div>
            <div class="col dropdown">
                <button class="btn inter-green inter-green-btn dropdown-toggle" type="button" data-toggle="dropdown">
                    Actions
                </button>                
                <div class="dropdown-menu">
                    <a href="/studyPrograms/{{this.prog_ID}}/edit" type="submit" class="dropdown-item" >Edit</a>
                    <a href="/studyPrograms/{{this.prog_ID}}/remove" type="submit" class="dropdown-item">Delete</a>
                </div>
            </div>
        </div>
    {{/each}}
    </form>
</div>
