<%- include ('../partials/header', {signInUrl: signInUrl, signOutUrl: signOutUrl}) -%>

<button id="url" class="invisible" value="<%= api_get_url %>"></button>

<style>
    th:nth-child(4),
    th:nth-child(1) {
        width: 10%;
        text-align: center;
    }
</style>

<div class="container-fluid mt-2">
    <h1><%= subtitle %></h1>

    <div class="container" style="margin-left: 0%; margin-top: -1%;">

        <div class="row justify-content-md-left test">

            <div class="col-md-4">
                <div style="position: absolute; left: 0; bottom: 0;">
                    <a href="<%= base_url %>/create" class="btn inter-green inter-green-btn" role="button">Create
                        New</a>
                </div>
            </div>

            <div class="col-md-8">
                <span class="glyphicon glyphicon-filter" style="float: left;"></span>
                <div>
                    <input name="filter" class="form-control" id="myInput" type="text"
                        placeholder="Filter by anything. Ex. The Study Program, Date or Outcome Name">
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    $(document).ready(function () {
                        $("#myInput").on("keyup", function () {
                            var value = $(this).val().toLowerCase();
                            $("#home-table tr").filter(function () {
                                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                            });
                        });
                    });
                });	
            </script>

        </div>
    </div>

    <!-- Middle line -->
</div>

<div class="container-fluid my-2" style="overflow-y: scroll;height: 400px;width: 100%;">
    <table class="table table-bordered table-striped table-hover">

        <thead class="thead-dark">
            <tr>
                <% for (let header of table_header) { %>
                <th scope="col"><%= header %></th>
                <% } %>
            </tr>
        </thead>
        <tbody id="home-table">
            <% results.forEach(element => { %>
            <tr>
                <% for( let index = 0; index < element["values"].length; index++ ) { %>
                <!-- IF NOT last position -->
                <% if((index == (element["values"].length -2) )) { %>
                <th> <a href="<%= base_url %>/<%= element["ID"]%>/performanceCriteria"
                        class="btn btn-secondary">Administrate</a>
                </th>
                <% }else if (index != (element["values"].length -1) ) { %>

                <th> <%=element["values"][index]%></th>
                <% }else{ %>
                <th> <%=element["values"][index]%>
                    <div class="col dropdown">
                        <button class="btn inter-green inter-green-btn dropdown-toggle" type="button"
                            data-toggle="dropdown">
                            Actions
                        </button>
                        <div class="dropdown-menu">
                            <a href="<%= base_url %>/<%= element["ID"]%>/edit" class="dropdown-item">Edit</a>
                            <button class="REMOVE dropdown-item" value="<%=element["ID"]%>" data-toggle="modal"
                                data-target="#exampleModal">Remove
                            </button>
                        </div>
                </th>
                <% } %>
                <% } %>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<!-- REMOVE PARTIAL -->
<%- include ('../partials/modal_remove', {delete_redirect: delete_redirect || ""}) -%>
<script src="/javascripts/modals.js"></script>


<%- include ('../partials/footer') -%>