<%- include ('../partials/header', {signInUrl: signInUrl, signOutUrl: signOutUrl}) -%>
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="<%=homeURL%>">Home</a></li>
		<% for( let index = 0; index < breadcrumb.length; index++ ) { %>

			<% if (index == breadcrumb.length -1) { %>
				<li class="breadcrumb-item active" aria-current="page"><%= breadcrumb[index].name %></li>
			<% }else { %>
				<li class="breadcrumb-item">
					<a href="<%= breadcrumb[index].url %>">
						<%= breadcrumb[index].name %>
					</a>
				</li>
			<% } %>

		<% } %>
	</ol>
</nav>

<button id="url" class="invisible" value="<%= api_get_url %>"></button>

<style>
    th:nth-child(4),
    th:nth-child(1) {
        width: 10%;
        text-align: center;
    }

    th:nth-child(2) {
        width: 10%;
    }
</style>



<!-- FILTERING HEADER -->
<div class="container-fluid mt-2" style="border-bottom: 1px solid rgba(0,0,0,0.1);">

    <div class="row" style="border-bottom: 1px solid rgba(0,0,0,0.1);">

        <div class="col-10" style="margin-top: -1%;">
            <h4><%= subtitle %></h4>
        </div>
    </div>

    <div class="row">

        <div class="col-12">

            <div class="d-flex flex-row bd-highlight">

                <div class="p-2 bd-highlight">
                    <h3>Filters: </h3>
                </div>

                <div class="p-2 bd-highlight">

                    <div class="form-group">
                        <select class="form-control" id="departments" type="text">
                            <option selected disabled value=""> -- Department -- </option>
                            <% departments.forEach(dep => { %>
                            <option value="<%= dep["value"] %>"><%= dep["name"] %></option>
                            <% }) %>
                        </select>

                        <input type="hidden" id="dept_selected" value="">
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="form-group">
                        <select class="form-control" id="study_program" disabled type="text">
                            <option selected value=""> -- Study Program -- </option>
                        </select>
                    </div>
                </div>

                <div class="p-2 bd-highlight" style="width: 30%;">

                    <div class="form-group">
                        <div>
                            <input name="filter" class="form-control" id="myInput" style="margin-top: 0;" type="text"
                                placeholder="Filter by anything. Ex. Name or Date" back>
                        </div>
                    </div>
                </div>

                <div class="p-2 bd-highlight" style=" margin-left:3%;">
                    <h4>Quantity: <span id="number"></span> </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-2" id="divTable">
    <table class="table table-bordered table-striped table-hover">

        <thead class="thead-dark">
            <tr>
                <% for (let header of table_header) { %>
                <th scope="col"><%= header %></th>
                <% } %>
            </tr>
        </thead>
        <!-- <tbody id="home-table" class="invisible"> -->
        <tbody id="home-table">
            <% results.forEach(element => { %>
            <tr>
                <% for( let index = 0; index < element["values"].length; index++ ) { %>
                <!-- IF NOT last position -->
                <% if((index == (element["values"].length -2) )) { %>
                <th>
                    <a href="<%= base_url %>/<%= element["ID"]%>/performanceCriteria" class="btn btn-secondary">
                        <% if (!element["hasPerformance"]) { %>
                        Create
                        <% }else{ %>
                        Administrate
                        <% }%>
                    </a>
                </th>
                <% }else if (index != (element["values"].length -1) ) { %>

                <th> <%=element["values"][index]%></th>
                <% }else{ %>
                <th> <%=element["values"][index]%>
                    <div class="col dropdown">
                        <button class="btn inter-green inter-green-btn dropdown-toggle" type="button"
                            data-toggle="dropdown">
                            Actions
                        </button>
                        <div class="dropdown-menu">
                            <a href="<%= base_url %>/<%= element["ID"]%>/edit" class="dropdown-item">Edit</a>
                            <button class="REMOVE dropdown-item" value="<%=element["ID"]%>" data-toggle="modal"
                                data-target="#exampleModal">Remove
                            </button>
                        </div>
                </th>
                <% } %>
                <% } %>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>


<div class="container">
	<div class="col-4" style="margin-left: 30%;">
		<a style="width: 100%;" href="<%= base_url %>/create" class="btn inter-green inter-green-btn" role="button">
            Create Outcome
        </a>
	</div>
</div>


<!-- REMOVE PARTIAL -->
<%- include ('../partials/modal_remove', {delete_redirect: delete_redirect || ""}) -%>
<script src="/javascripts/modals.js"></script>
<script src="/javascripts/filters/outcomes.js"></script>
<%- include ('../partials/footer') -%>