<%- include ('../partials/header', {signInUrl: signInUrl, signOutUrl: signOutUrl}) -%>

<div class="container-fluid mt-2">
    <h1><%= subtitle %></h1>
    <hr class="my-4">
    <a href="<%= base_url %>/create" class="btn inter-green inter-green-btn" role="button">Create New</a>
    <!-- Middle line -->
</div>

<button id="url" class="invisible" value="<%= api_get_url %>"></button>

<div class="container-fluid my-2">

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <% for (let header of table_header) { %>
                <th scope="col"><%= header %></th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% results.forEach(element => { %>
            <tr>
                <% for( let index = 0; index < element["values"].length; index++ ) { %>
                <!-- IF NOT last position -->
                <% if((index == (element["values"].length -2) )) { %>
                <th> <a href="<%= base_url %>/<%= element["ID"]%>/performanceCriteria"
                        class="btn btn-secondary">Administrate</a>
                </th>
                <% }else if (index != (element["values"].length -1) ) { %>

                <th> <%=element["values"][index]%></th>
                <% }else{ %>
                <th> <%=element["values"][index]%>
                    <div class="col dropdown">
                        <button class="btn inter-green inter-green-btn dropdown-toggle" type="button"
                            data-toggle="dropdown">
                            Actions
                        </button>
                        <div class="dropdown-menu">
                            <a href="<%= base_url %>/<%= element["ID"]%>/edit" class="dropdown-item">Edit</a>
                            <button class="REMOVE dropdown-item" value="<%=element["ID"]%>" data-toggle="modal"
                                data-target="#exampleModal">Remove
                            </button> 
                    </div>
                </th>
                <% } %>
                <% } %>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <hr class="my-1">
</div>

<!-- REMOVE PARTIAL -->
<%- include ('../partials/modal_remove', {delete_redirect: delete_redirect || ""}) -%>
<script src="/javascripts/modals.js"></script>


<%- include ('../partials/footer') -%>