<div class="container-fluid">
  <h2>{{subtitle}}</h2>
  <hr class="my-4">
  <form action="/department" method="POST">
  <a href="{{create}}" class="btn btn-success" role="button">Create New</a>
  <!--Table Header-->
  <div class="row bg-secondary text-light p-2">
      <div class="col"><strong>Name</strong></div>
      <div class="col"><strong>Department ID</strong></div>
      <div class="col"><strong>Description</strong></div>
      <div class="col"><strong>Date Created</strong></div>
      <div class="col-1"></div>
  </div>
  {{!-- Table contents --}}
  {{#each results}}
  <div class="row py-4 btn-light accordion" type="button" id = "collapsible" data-toggle="collapse" data-target="#coll">
      <div class="col">{{this.dep_name}}</div>
      <div class="col">{{this.dep_ID}}</div>
      <div class="col">{{this.dep_description}}</div>
      <div class="col">{{this.date_created}}</div>
      <div class="col-1 btn-group-vertical">
      <a role= "button" class="btn btn-warning" href="/department/{{this.dep_ID}}/edit">Edit</a>
      <a role="button" class="btn btn-danger" style="background-color: #e05b1e" href="/department/{{this.dep_ID}}/delete">Delete</a></div>
  </div>
  <div class="collapse" data-parent="#collapsible" id = "coll">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam neque veritatis cum laudantium, rem necessitatibus sunt facere nesciunt assumenda odio ex at ut alias? Nihil fugiat error modi recusandae exercitationem.
  </div>
  {{/each}}
</div>
