<div class="container-fluid">
  <h2>{{subtitle}}</h2>
  <hr class="my-4">
  <form action="/department" method="POST">
  <a href="{{create}}" class="btn btn-success inter-green" role="button">Create New</a>
</div>
<div class="container-fluid my-2">
  <!--Table Header-->
  <div class="row bg-secondary text-light p-2">
      <div class="col"><strong>Name</strong></div>
      <div class="col"><strong>Department ID</strong></div>
      <div class="col"><strong>Description</strong></div>
      <div class="col"><strong>Date Created</strong></div>
      <div class="col-1"></div>
  </div>
  {{!-- Table contents --}}
  {{#each results}}
  <div class="row py-2 btn-light accordion">
      <div class="col">{{this.dep_name}}</div>
      <div class="col">{{this.dep_ID}}</div>
      <div class="col">{{this.dep_description}}</div>
      <div class="col">{{this.date_created}}</div>
      <div class="col-2 dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
          Actions
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/department/{{this.dep_ID}}/edit">Edit</a>
            <a class="dropdown-item" href="/department/{{this.dep_ID}}/delete">Delete</a></div>
        </div>
      </div>
  {{/each}}
</div>

