<div class="container-fluid">
  <h2>Departments</h2>
  <hr class="my-4">
  <form action="/department" method="POST">
  <a href="{{create}}" class="btn btn-success" role="button">Create New</a>
  <hr class="my-2">
  <div class="row">
      <div class="col"><strong>Name</strong></div>
      <div class="col"><strong>Department ID</strong></div>
      <div class="col"><strong>Description</strong></div>
      <div class="col"><strong>Date Created</strong></div>
      <div class="col"></div>
  </div>
  <hr class="my-1">
  {{#each results}}
  <div class="row">
      <div class="col">{{this.dep_name}}</div>
      <div class="col">{{this.dep_ID}}</div>
      <div class="col">{{this.dep_description}}</div>
      <div class="col">{{this.date_created}}</div>
      <div class="col"><button type="submit" class="btn btn-warning" style="color:#FFFFFF" href="{{edit}}">Edit</button> <button type="submit" class="btn btn-danger" href="{{delete}}">Delete</button></div>
  </div>
  {{/each}}
  <hr class="mt-5 mb-1">
  <p>&copy; 2019 - Universidad Interamericana Puerto Rico Bayam&oacute;n Campus</p>
</div>
