<div class="container-fluid">
	<h1>Delete</h1>
	<h3>Are you sure you want to delete this User?</h3>
	<hr class="my-4">
	<form action="/users/{{userID}}?_method=DELETE" method="POST">
		<div class="row">
			<div class="col-2 text-right"><strong>User ID</strong></div>
			<div class="col">{{userID}}</div>
		</div>
		<div class="row">
			<div class="col-2 text-right"><strong>Inter ID</strong></div>
			<div class="col">{{interID}}</div>
		</div>
		<div class="row">
			<div class="col-2 text-right"><strong>Name</strong></div>
			<div class="col">{{fName}}</div>
		</div>
		<div class="row">
			<div class="col-2 text-right"><strong>Last Name</strong></div>
			<div class="col">{{lName}}</div>
		</div>
		<div class="row">
			<div class="col-2 text-right"><strong>Email</strong></div>
			<div class="col">{{email}}</div>
		</div>
		<div class="row">
			<div class="col-2 text-right"><strong>Phone Number</strong></div>
			<div class="col">{{pNumber}}</div>
		</div>
		<div class="row">
			<div class="col-2 text-right"><strong>Date Created</strong></div>
			<div class="col">{{date}}</div>
		</div>
		<div class="row my-4">
			<div class="col-2"></div>
			<div class="col"><button type="submit" class="btn btn-outline-secondary">Delete</button></div>
		</div>
		<a href="/users">Back to List</a>
	</form>
	<hr class="my-3">
	<p>&copy; 2019 - Universidad Interamericana Puerto Rico Bayam&oacute;n Campus</p>
</div>
