<div class="container-fluid">
  <h2>{{subtitle}}</h2>
  <hr class="my-4">
  <form action="/users" method="POST">
    <a href="/users/createUsers" class="btn btn-success" role="button">Create New</a>
</div>
<div class="container-fluid my-2">
  {{!-- Table Header --}}
    <div class="row bg-secondary text-light p-2">
      <div class="col-1"><strong>User ID</strong></div>
      <div class="col-1"><strong>Inter ID</strong></div>
      <div class="col"><strong>Profile</strong></div>
      <div class="col-1"><strong>Name</strong></div>
      <div class="col-1"><strong>Last Name</strong></div>
      <div class="col-2"><strong>Email</strong></div>
      <div class="col-2"><strong>Phone Number</strong></div>
      <div class="col-1"><strong>Date Created</strong></div>
      <div class="col-2"></div>
    </div>
    {{#each results}}
    <div class="row py-2 btn-light">
      <div class="col-1">{{this.user_ID}}</div>
      <div class="col-1">{{this.inter_ID}}</div>
      <div class="col">{{this.profile_Name}}</div>
      <div class="col-1">{{this.first_name}}</div>
      <div class="col-1">{{this.last_name}}</div>
      <div class="col-2" style="word-wrap: break-word;">{{this.email}}</div>
      <div class="col-2" style="word-wrap: break-word;">{{this.phone_number}}</div>
      <div class="col-1">{{this.date_created}}</div>
      <div class="col-2 dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
          Actions
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="users/{{this.user_ID}}/edit" type="submit" class="btn btn-warning btn-block" name="editButton">Edit</a>
          <a class="dropdown-item" href="users/{{this.user_ID}}/remove" type="submit" class="btn btn-danger btn-block">Delete</a>
        </div>
      </div>
    </div>
    {{/each}}
    <hr class="my-1">
</div>
