<%- include ('../partials/header', {signInUrl: signInUrl, signOutUrl: signOutUrl}) -%>

<% if( showSlicer ) { %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/study_program.css">
<% } %>

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="<%=homeURL%>">Home</a></li>
		<% for( let index = 0; index < breadcrumb.length; index++ ) { %>

			<% if (index == breadcrumb.length -1) { %>
				<li class="breadcrumb-item active" aria-current="page"><%= breadcrumb[index].name %></li>
			<% }else { %>
				<li class="breadcrumb-item">
					<a href="<%= breadcrumb[index].url %>">
						<%= breadcrumb[index].name %>
					</a>
				</li>
			<% } %>

		<% } %>
	</ol>
</nav>
<div class="container-fluid">
	<h2><%= title_action %> </h2>
	<hr class="my-4">

	<form id="<%= form_id %>" action="<%= url_form_redirect %>" method="POST">

		<% if (have_dropdown) { %>
			<div class="container-fluid">
				<div class="row my-4">
					<div class="col-2 align-self-center text-right"><strong><%= dropdown_title %> </strong></div>
					<div class="col-8">
						<select type="text" name="<%= dropdown_name %>" required>
							<% for (let profile of dropdown_options) {%>
								<% if (profile.ID == dropdown_option_selected) { %>
									<option class="dropdown-item" selected value="<%=profile.ID%>"> <%= profile.NAME%> </option>
								<% }else { %>
									<option class="dropdown-item" value="<%=profile.ID%>"> <%= profile.NAME%> </option>
								<%	} %>
							<% } %>
						</select>
					</div>
				</div>
			</div>
		<% } %>
		<% inputs.forEach(element => { %>
			<div class="row my-4">
				<div class="col-2 align-self-center text-right"><strong><%= element.title %> </strong></div>
				<div class="col-8">
					<input class="form-control" value="<%= element.value %>" type="text"
						placeholder="<%= element.placeHolder %>" name="<%= element.name %>" required>
				</div>
			</div>
		<% }) %>

		<% if (description_box != undefined) { %>
	
			<div class="row my-4">
				<div class="col-2 align-self-center text-right"><strong>Description</strong></div>
				<div class="col-8">
					<textarea class="form-control" name="<%= description_box["name"]%>" rows="4"
					placeholder="<%=description_box["text"]%>"><%= description_box["value"]%></textarea>
				</div>
			</div>
		<% } %>

		
		<% if(showSlicer) { %>
			<div class="row my-4">
				<div class="col-2 align-self-center text-right"><strong>Target</strong></div>
				<div class="col-4 slidecontainer">
					<% if(target_score != undefined) { %> 
						<input type="range" min="0" max="100" value="<%= target_score %>" class="slider" name="target_score" id="target_score">
					<% } else { %>
						<input type="range" min="0" max="100" value="75" class="slider" name="target_score" id="target_score"> 
					<% } %>
				</div>
				<div class="col-6">
					<p><strong>Value: </strong><span id="sliderValue"></span>%</p>
				</div>
			</div>
		<% } %>

		<div class="row my-4">
			<div class="col-2"></div>
			<div class="col"><button type="submit" class="btn btn-outline-secondary"><%= btn_title %></button></div>
		</div>
		<p><a href="<%= base_url %> ">Back to List</a></p>
	</form>
</div>

<% if(showSlicer) { %>
	<script src="/javascripts/study_program.js"></script>
<% } %>

<%- include ('../partials/footer') -%>