<div class="container-fluid">
  <form action="performanceCriteria" method="POST">
  <h2>Performance Criteria</h2>
  <hr class="my-4">
  <div class = "row">
  <div class = "col-lg-2"><a href="{{create}}" class="btn btn-success" role="button">Create New</a></div>
  <div class = "col-lg-4"><select class="form-control" name = "outc_ID">
    <option value="{{current_outcID}}">{{current_outName}}</option>
    {{#each resultsF}}
    <option value="{{this.outc_ID}}">{{this.outc_name}}</option>
    {{/each}}
  </select>
  </div>
  <button class="btn btn-primary" role="button">Filter</button>
  </div>
</div>
  <div>
  <hr class="my-1">
  <div class="row">
      <!-- <div class="col"><strong>Name</strong></div> -->
      <div class="col"><strong>Performance Criteria ID</strong></div>
      <div class="col"><strong>Description</strong></div>
      <div class="col"><strong>Order</strong></div>
      <div class="col"><strong>Student Outcome ID</strong></div>
      <div class="col"></div>
  </div>
  <hr class="my-1">
  {{#each results}}
  <div class="row">
      <!-- <div class="col">Performance Criteria Name</div> -->
      <div class="col">{{this.perC_ID}}</div>
      <div class="col">{{this.perC_Desk}}</div>
      <div class="col">{{this.perC_order}}</div>
      <div class="col">{{this.outc_ID}}</div>
      <div class="col"><a href="performanceCriteria/{{this.perC_ID}}/edit" role="button" class="btn btn-warning" style="color:#FFFFFF">Edit</a> <a href="performanceCriteria/{{this.perC_ID}}/delete" role="button" class="btn btn-danger">Delete</a></div>
  </div>
  {{/each}}
  <hr class="my-1">
  <hr class="my-1">

  <hr class="mt-5 mb-3">
  <p>&copy; 2019 - Universidad Interamericana Puerto Rico Bayam&oacute;n Campus</p>
</div>
