<div class="container-fluid">
  <h2>Performance Criteria</h2>
  <hr class="my-4">
  <a href="{{create}}" class="btn btn-success" role="button">Create New</a>
  <hr class="my-1">
  <div class="row">
      <!-- <div class="col"><strong>Name</strong></div> -->
      <div class="col"><strong>Performance Criteria ID</strong></div>
      <div class="col"><strong>Description</strong></div>
      <div class="col"><strong>Order</strong></div>
      <div class="col"><strong>Student Outcome ID</strong></div>
      <div class="col"></div>
  </div>
  <hr class="my-1">
  {{#each results}}
  <div class="row">
      <!-- <div class="col">Performance Criteria Name</div> -->
      <div class="col">{{this.perC_ID}}</div>
      <div class="col">{{this.perC_Desk}}</div>
      <div class="col">{{this.perC_order}}</div>
      <div class="col">{{this.outc_ID}}</div>
      <div class="col"><a href="{{edit}}" type="button" class="btn btn-warning" style="color:#FFFFFF">Edit</a> <a href="{{delete}}" type="button" class="btn btn-danger">Delete</a></div>
  </div>
  {{/each}}
  <hr class="my-1">
  <hr class="my-1">

  <hr class="mt-5 mb-3">
  <p>&copy; 2019 - Universidad Interamericana Puerto Rico Bayam&oacute;n Campus</p>
</div>
