<%- include ('../partials/header', {signInUrl: signInUrl, signOutUrl: signOutUrl}) -%>



<div class="font-up-bold text-uppercase">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="<%=homeURL%>">Home</a></li>
			<% for( let index = 0; index < breadcrumb.length; index++ ) { %>

			<% if (index == breadcrumb.length -1) { %>
			<li class="breadcrumb-item active" aria-current="page"><%= breadcrumb[index].name %></li>
			<% }else { %>
			<li class="breadcrumb-item">
				<a href="<%= breadcrumb[index].url %>">
					<%= breadcrumb[index].name %>
				</a>
			</li>
			<% } %>

			<% } %>
		</ol>
	</nav>

</div>

<!-- FILTERING HEADER -->
<div class="container-fluid mt-2" style="border-bottom: 1px solid rgba(0,0,0,0.1);">

	<div class="row">

		<div class="col-12">

			<div class="d-flex flex-row bd-highlight">

				<div class="p-2 bd-highlight">
					<h3>Filters: </h3>
				</div>

				<% if (filter) { %>


				<div class="p-2 bd-highlight" style="max-width: 40%;">

					<div class="form-group">
						<select class="form-control" id="filterBy" type="text">
							<option selected value=""> <%= filter_title %></option>
							<% filter_value.forEach(element => { %>
							<option value="<%=element%>"> <%= element %></option>
							<% }) %>
						</select>

						<input type="hidden" id="dept_selected" value="">
					</div>
				</div>

				<% } %>

				<div class="p-2 bd-highlight" style="width: 30%;">

					<div class="form-group">
						<div>
							<input name="filter" class="form-control" id="myInput" style="margin-top: 0;" type="text"
								placeholder="Type what you're Looking for. Ex. Name or Date" back>
						</div>
					</div>
				</div>

				<div class="p-2 bd-highlight" style=" margin-left:3%;">
					<h4>Quantity: <span id="number"></span> </h4>
				</div>
			</div>
		</div>
	</div>
</div>

<button id="url" class="invisible" value="<%= api_get_url %>"></button>
<div class="container-fluid my-2" id="divTable">

	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<% for (let header of table_header) { %>
				<th scope="col"><%= header %></th>
				<% } %>
			</tr>
		</thead>
		<tbody id="filter">
			<% if (results.length == 0) { %>
			<div style="text-align: center;">
				<h1>You don't have Information Created yet.</h1>
			</div>
			<% }else { %>

			<% results.forEach(element => { %>

			<tr>
				<% for( let index = 0; index < element["values"].length; index++ ) { %>
				<!-- IF NOT last position -->
				<% if (index != (element["values"].length -1) ) { %>
				<th> <%=element["values"][index]%></th>
				<% }else{ %>
				<th> <%=element["values"][index]%>
					<div class="col dropdown">
						<button class="btn inter-green inter-green-btn dropdown-toggle" type="button"
							data-toggle="dropdown">
							Actions
						</button>
						<div class="dropdown-menu">

							<a class="EDIT dropdown-item" href="<%=base_url%>/<%=element["ID"]%>/edit">
								EDIT
							</a>
							<button class="REMOVE dropdown-item" value="<%=element["ID"]%>" data-toggle="modal"
								data-target="#exampleModal">Remove
							</button>
						</div>
					</div>
				</th>
				<% } %>
				<% } %>
			</tr>
			<% }); %>
			<% } %>
		</tbody>
	</table>
</div>

<div class="container">

	<div class="col-4" style="margin-left: 30%;">
		<a style="width: 100%;" href="<%= base_url %>/create" class="btn inter-green inter-green-btn"
			role="button">Create
			New
		</a>
	</div>
</div>
<!-- REMOVE PARTIAL -->
<%- include ('../partials/modal_remove', {delete_redirect: delete_redirect || ""}) -%>
<script src="/javascripts/filters/home.js"></script>
<script src="/javascripts/modals.js"></script>
<script src="/javascripts/filters/filter_key_up.js"></script>

<%- include ('../partials/footer') -%>