<table id="table" class="table table-fixed table-hover ">

    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Course</th>
            <th scope="col">Rubric</th>
            <th scope="col">Term</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody id="filter">
        <% if (assessment.length != 0) { %>

        <% assessment.forEach((element, index) => { %>
        <tr class="table-row">

            <th scope="row">
                <%=(index+1)%>
            </th>
            <th scope="row">
                <%= element["name"] %> <br>
                <span class="date-format"><%= element["creation_date"] %></span>
            </th>

            <td>
                <%= element["course_name"] %>
                <br>
                Section - <%= element["course_section"] %> 
            </td>

            <td><%= element["rubric_name"] %></td>
            <td><%= element["term_name"] %></td>

            <td>
                <div class="col dropdown">
                    <button class="btn inter-green inter-green-btn dropdown-toggle" type="button"
                        data-toggle="dropdown">
                        Actions
                    </button>
                    <div class="dropdown-menu">

                        <a class="dropdown-item" target="_blank"
                            href="<%=base_url%>/assessment/<%=element.assessment_ID %>/report">
                            Assessment Report
                        </a>
                        <!-- <button class="DOWNLOAD dropdown-item" value="element["assessment_ID"]%>">
                                    Download report &nbsp; <i class="fa fa-download"></i>
                                </button> -->
                    </div>
                </div>
            </td>
        </tr>
        </div>

        <% }); %>

        <% }else{ %>

        <h2 style="text-align: center;">You do not have any Assessment Archived!</h2>
        <% } %>
    </tbody>
</table>