<div class="container assessmentContainer">
    <div class="row search">
        <input class="reportSearch" placeholder="Search" type="text" name="reportSearch">
    </div>

    <!-- <i class="fa fa-ellipsis-h"></i> -->
    <div class="container assessmentReports">
        <div class="row">

            <!-- TODO: GET THE VALUE FOR EDIT VIA AN API -->
            <% for( let i = 0; i < assessment_in_progress.length; i++) { %>

            <div class="col-6">
                <div class="card" style="width: 80%; margin: auto;">
                    <!-- <div class="form-group div_select" style="position: absolute;">
                        <i class="fa fa-ellipsis-h"></i>
                        <select class="select_ form-group">
                            <option selected value=""></option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div> -->
                    <!-- <i class="fa fa-window-close-o"></i> -->
                    <i class="editBtn fa fa-pencil-square-o">
                        <input type="hidden" name="id" value="<%=assessment_in_progress[i].assessment_ID%>">
                        <input type="hidden" name="name" value="<%=assessment_in_progress[i].name%>">
                        <input type="hidden" name="department" value="<%=assessment_in_progress[i].dep_ID%>">
                        <input type="hidden" name="studyprogram" value="<%=assessment_in_progress[i].prog_ID%>">
                        <input type="hidden" name="outcome" value="<%=assessment_in_progress[i].outc_ID%>">
                        <input type="hidden" name="course" value="<%=assessment_in_progress[i].course_ID%>">
                        <input type="hidden" name="rubric" value="<%=assessment_in_progress[i].rubric_ID%>">
                        <input type="hidden" name="rubric" value="<%=assessment_in_progress[i].term_ID%>">
                    </i>
                    <i class="trashBtn fa fa-trash-o" value="<%=assessment_in_progress[i].assessment_ID%>">
                        <input type="hidden" value="<%=assessment_in_progress[i].assessment_ID%>">
                        <input type="hidden" value="<%=assessment_in_progress[i].name%>">
                    </i>
                    <div style="margin-left: 15%;">
                        <img src="../images/paper.png" class="card-img-top" alt="Assessment">
                    </div>
                    <div class="card-body"
                        style=" width: 80%; margin-left: 5%; text-align: center; font-size: 0.9em;">
                        <h5 class="card-title"> <a
                                href="/professor/assessment/<%=assessment_in_progress[i].assessment_ID%>">
                                <%=assessment_in_progress[i].name %></a></h5>
                        <p class="card-text"><%=assessment_in_progress[i].course_name %></p>
                        <p class="card-text"><%=assessment_in_progress[i].term_name %></p>
                        <p class="card-text"><%=assessment_in_progress[i].rubric_name %></p>
                        <p class="card-text">Created at <%=assessment_in_progress[i].creation_date %></p>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>