<div class="container assessmentContainer">
    <div class="row">
        <div class="col-12">

            <div class="d-flex flex-row bd-highlight">

                <div class="p-2 bd-highlight">
                    <h3>Filters: </h3>
                </div>

                <div class="p-2 bd-highlight" style="max-width: 50%;">

                    <div class="form-group">
                        <select class="form-control" id="filter_term_completed" type="text">
                            <option selected value=""> -- Academic Term --</option>
                            <% academic_term.forEach(term => { %>
                            <option value="<%=term["term_name"]%>"> <%= term["term_name"]%></option>
                            <% }) %>
                        </select>

                        <input type="hidden" id="dept_selected" value="">
                    </div>
                </div>

                <div class="p-2 bd-highlight" style="width: 50%;">

                    <div class="form-group">
                        <div>
                            <input name="filter" disabled class="form-control" style="margin-top: 0;" type="text"
                                placeholder="Type Assessment name, Rubric name or created date" back>
                        </div>
                    </div>
                </div>

                <!-- <div class="p-2 bd-highlight" style=" margin-left:3%;">
                    <h5> "CANTIDAD: " <span id="number"></span> </h5>
                </div> -->
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            $("#filter_term_completed").change(function () {

                let value = $(this).val().toLowerCase();

                console.log(value);
                $(".assessment_completed").filter(function () {

                    // find all term in assessment
                    let text = $(this).find('input[name="term_name"]').val();

                    $(this).toggle(text.toLowerCase().indexOf(value) > -1);

                });

                // update the number of quantity
                // $("#number").text($("#filter tr:visible").length);
            });
        });
    </script>

    <!-- <i class="fa fa-ellipsis-h"></i> -->
    <div class="container assessmentReports">
        <div class="row">

            <% if (assessment_completed.length > 0) { %>

            <% for( let i = 0; i < assessment_completed.length; i++) { %>

            <div class="col-6 assessment_completed">
                <div class="card" style="width: 80%; margin: auto;">
                    <i id="recoverBtn" class="fa fa-refresh">
                        <input type="hidden" name="id" value="<%=assessment_completed[i].assessment_ID%>">
                        <input type="hidden" name="name" value="<%=assessment_completed[i].name%>">
                        <input type="hidden" name="term_name" value="<%=assessment_completed[i].term_name%>">
                    </i>
                    <i class="trashBtn fa fa-trash-o" value="<%=assessment_completed[i].assessment_ID%>">
                        <input type="hidden" value="<%=assessment_completed[i].assessment_ID%>">
                        <input type="hidden" value="<%=assessment_completed[i].name%>">
                    </i>
                    <div style="margin-left: 15%;">
                        <img src="../images/paper.png" class="card-img-top" alt="Assessment">
                    </div>
                    <div class="card-body" style=" width: 80%; margin-left: 5%; text-align: center; font-size: 0.9em;">
                        <h5 class="card-title">
                            <%=assessment_completed[i].name %>
                        </h5>
                        <p class="card-text"><%=assessment_completed[i].course_name %></p>
                        <p class="card-text"><%=assessment_completed[i].term_name %></p>
                        <p class="card-text"><%=assessment_completed[i].rubric_name %></p>
                        <p class="card-text">Created at <%=assessment_completed[i].creation_date %></p>

                        <a href="<%=base_url%>/assessment/<%=assessment_completed[i].assessment_ID %>/report"
                            class="btn btn-success">Download Report</a>
                    </div>
                </div>
            </div>
            <% } %>

            <% }else{ %>
            <h3 class="feedback_message_assessment">You do not have any Assessment Completed</h3>
            <% } %>
        </div>
    </div>
</div>