<table id="table" class="table table-fixed table-hover ">

    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
            <th scope="col">Course</th>
            <th scope="col">Rubric</th>
            <th scope="col">Term</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        <% if (assessment.length != 0) { %>

        <% assessment.forEach(element => { %>
        <tr class="table-row">
            <th scope="row">
                <%= element["name"] %> <br>
                <span class="date-format"><%= element["creation_date"] %></span>
            </th>

            <td><a class="btn btn-success link-work" href="">Work in Assessment</a></td>
            <td><%= element["course_name"] %></td>
            <td><%= element["rubric_name"] %></td>
            <td><%= element["term_name"] %></td>

            <td>
                <div class="col dropdown">
                    <button class="btn inter-green inter-green-btn dropdown-toggle" type="button"
                        data-toggle="dropdown">
                        Actions
                    </button>
                    <div class="dropdown-menu">

                        <button class="EDIT dropdown-item" value="<%=element["assessment_ID"]%>">
                            Edit Assessment Template &nbsp; <i class="fa fa-pencil"></i>
                        </button>
                        <button class="REMOVE dropdown-item" value="<%=element["assessment_ID"]%>,<%=element["name"]%>">
                            Archive Assessment &nbsp;<i class="fa fa-inbox"></i>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        </div>

        <% }) %>

        <% }else{ %>

        <h2 style="text-align: center;">You do not have any assessent in process!</h2>

        <% } %>
    </tbody>
</table>