<!-- ASSESSMENT IN PROSESS -->
<% for( let i = 0; i < assessments.length; i++ ) { %>

    <tr>
        <td></td>
        <td>
            <%=assessments[i]["first_name"]%> <%= assessments[i]["last_name"]%>
            <br>
            <span class="interID">ID: <%=assessments[i]["inter_ID"]%> </span>
        </td>
        <td> <%=assessments[i]["name"]%> </td>
        <td>
            <%=assessments[i]["course_number"]%>
            <br>
            <%=assessments[i]["prog_name"]%>
        </td>
        <td> <%=assessments[i]["outc_name"]%> </td>
        <td> <%=assessments[i]["term_name"]%> </td>

        <td class="status <%=assessments[i]["status"]["class"]%>">
            <%=assessments[i]["status"]["name"]%>
        </td>

        <td>
            <% if (assessments[i]["status"]["class"] != "in_progress") { %>
                <span class="report-link">
                    <a href="<%=base_url%>/assessment/<%=assessments[i]["assessment_ID"]%>/report" target="_blank">
                        View Report
                    </a>
                </span>
                
            <% }else { %>
                <span class="link-disabled">
                    <a href="#">
                        View Report
                    </a>
                </span>
            <% } %>
        </td>
    </tr>
<% } %>